﻿@{
    ViewBag.Title = "Forgot Password";
}

@model EmailModel

@using (@Html.BeginForm("ForgotPassword", "Login"))
{
    <article  class="forgotpassword">
        @Html.ValidationSummary()
        <div class="input_box">
            @Html.WatermarkFor(m => m.Email)
        </div>
    
        <input id="profile-finish" class="button_small fl_right" type="submit" value="@TalentManagement.Resources.Views.Login.ForgotPassword.SendPasswordSubmit" />
        <a href="@Url.Action("Index", "Login")" >@Html.Raw(TalentManagement.Resources.UI.Cancel)</a>
    </article>
}
