﻿@using TalentManagement.Resources.Views.Login
@model LoginModel
           
@{
    ViewBag.Title = "Login";
}
@RazorHelpers.Css("Content/Login.css")

@using (Html.BeginForm("Login", "Login", FormMethod.Post))
{
    @Html.ValidationSummary()        
    <div class="input_box">
        <span class="iconsweet">a</span>
        @Html.WatermarkFor(m => m.Email)
        @Html.TipsyValidationMessageFor(m => m.Email)
    </div>
    <div  class="input_box">
        <span class="iconsweet">y</span>
        @Html.WatermarkFor(m => m.Password, new Dictionary<string, object> { { "type", "password" } })
        @Html.TipsyValidationMessageFor(m => m.Password)
    </div>
    <div>
        @Html.ActionLink(Index.ForgotPasswordLink, "ForgotPassword", null, new { @class = "login_link" })
        <div>
            @Html.ActionLink(Index.Register, "Register", "Registration", null, new { @class = "login_link" })
        </div>
    </div>
    <div>
        @Html.Submit(Index.LoginSubmit)
    </div>
  
}
