﻿@using TalentManagement.Resources.Views.Login
@{
    ViewBag.Title = "Sign Up";
}
@model EmailUniqueModel

@using (@Html.BeginForm("SignUp", "Login"))
{
    <div>
        <div>As easy as your company e-mail</div>
        <div class="input_box">
            @Html.WatermarkFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        @Html.Submit(SignUp.Submit)
    </div>
    
}
