﻿@using Resource = TalentManagement.Resources.Views.People.PeopleLayout
@model IEnumerable<TalentManagement.Web.Models.People.UserRowModel>

 @if (Model.Any())
    {
        <tr>
            <th>@Resource.Avatar</th>
            <th>@Resource.Actions</th>
            <th>@Resource.Name</th>
            <th>@Resource.Position</th>
            <th>@Resource.Team</th>
            <th>@Resource.Email</th>
        </tr>
    }
    else
    {
        <tr>
            <th colspan="5">@Resource.NoUsersMessage</th>
        </tr>
    }