﻿@using Resource = TalentManagement.Resources.Views.People.PeopleLayout
@model TalentManagement.Web.Models.People.UserRowModel
           
<tr>
    <td>@RazorHelpers.Avatar(Model.Email)</td>
    <td>
        <a href='@(Url.Action("ToggleIsManager", new { userId = Model.Email }))' 
        class="toggle-manager-link"  > 
            @(Model.IsManager ? Resource.NotManager : Resource.MarkManager)
        </a>
    </td>
    <td>@Model.FullName</td>
    <td>@(Model.Position ?? Resource.NotAvailable)</td>
    <td>@(Model.Team ?? Resource.NotAvailable)</td>
    <td>@Model.Email</td>
</tr>