﻿@using TalentManagement.Web.Models.People
@model AddUserModel

@using Resource = TalentManagement.Resources.Views.People.AddUser
@{
    ViewBag.Title = Resource.Title;
}

@section Head
{
    @if (false == Model.IsEmbedded)
    {
        @Html.Bundles("~/Bundles/PeopleLayoutJs")
        @Html.Bundles("~/Bundles/PeopleCss")
    }
}

@helper HorizontalFormField(System.Linq.Expressions.Expression<Func<AddUserModel, string>> expression, MvcHtmlString content, HelperResult content2 = null, string controlsClass = null)
    {
    <div class="control-group">
        @Html.LabelFor(expression, new { @class = "control-label" })
        <div class="controls @controlsClass">
            @content
            @content2
        </div>
    </div>
}

@helper TextBox(System.Linq.Expressions.Expression<Func<AddUserModel, string>> expression)
    {
    @HorizontalFormField(expression, Html.TextBoxStyledFor(expression))
}

@helper Password(System.Linq.Expressions.Expression<Func<AddUserModel, string>> expression)
    {
    @HorizontalFormField(expression, Html.PasswordStyledFor(expression))
}

@helper Addon(string text)
    {
    <span class="add-on">@text</span>
}

<div class="widget_body fl_left" id="addUserContent">
    @using (Html.BeginForm("AddUser", "People", FormMethod.Post, new { @class = "form-horizontal", id = "addUserForm", autocomplete = "off" }))
    {
        @TextBox(m => m.Email)
        @Password(m => m.Password)
        @TextBox(m => m.FirstName)
        @TextBox(m => m.SecondName)
        @TextBox(m => m.Position)
        @TextBox(m => m.Team)
        @HorizontalFormField(m => m.ManagerEmailLocal, Html.TextBoxFor(m => m.ManagerEmailLocal), Addon(Model.ManagerEmailAppendix), "input-append")
        if (false == Model.IsEmbedded)
        {
              <div class="msgbar msg_Success hide_onC">
                    <span class="iconsweet">=</span><p><span id="user-added-message">The user was added.</span></p>
            </div>
            <button class="btn btn-primary" id="add-user-button" form="addUserForm">@UI.Add</button>
        }
    }
</div>

