﻿@using Resource = TalentManagement.Resources.Views.People.AddUser
@{
    ViewBag.Title = Resource.Title;
}

@section Head
{
    @Html.Bundles("~/Bundles/PeopleLayoutJs")
}

<div class="widget_body fl_left" id="addUserContent">
    <h3>@Resource.SuccessMessage</h3>
</div>
