﻿@using Resource = TalentManagement.Resources.Views.People.GroupUpload
@{
    ViewBag.Title = Resource.Title;
}

<div class="widget_body fl_left" id="groupUploadContent">
    <h3>@Resource.SuccessMessage</h3>
</div>
