﻿@model TalentManagement.Web.Models.People.GroupUploadModel
@using Resource = TalentManagement.Resources.Views.People.GroupUpload
@{
    ViewBag.Title = Resource.Title;
}

<div id="groupUploadContent" class="widget_body fl_left">
    @using (Html.BeginForm("GroupUpload", "People", FormMethod.Post, new { id = "groupUploadForm", enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
           @Html.ValidationSummary()
        <fieldset>
            <legend>@Resource.DownloadTemplates</legend>
            @Html.ActionLink(Resource.TemplateFile, "UploadTemplate", "People", new { }, new { @class = "btn btn-primary" })
        </fieldset>
        <fieldset>
            <legend>@Resource.ImportUsers</legend>
            @Html.FileFor(m => m.Template)
            @Html.ValidationMessageFor(m => m.Template)
        </fieldset>
    }
</div>