﻿@using TalentManagement.Domain.Users
@using TalentManagement.Web.Models.People
@using Resource = TalentManagement.Resources.Views.People.PeopleLayout
@model PeopleModel
@{
    ViewBag.Title = Resource.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head
{
    @Html.Bundles("~/Bundles/PeopleLayoutJs")
    @Html.Bundles("~/Bundles/PeopleCss")
}

@helper LettersFilterBlock(string block)
{
    <div class="btn-group">
        @foreach(var letter in block)
        {
            @Html.ButtonFor(x => x.SecondNamePrefix, letter.ToString(), letter.ToString(), new { @class = "btn btn-small" })
        }
    </div>
}

@helper LettersFilter()
{
    <div class="btn-toolbar">
        <div class="btn-group">
            @Html.ButtonFor(x => x.SecondNamePrefix, Resource.All, null, new { @class = "btn btn-small" })
        </div>
        @LettersFilterBlock("ABCDEFG")
        @LettersFilterBlock("HIJKLMN")
        @LettersFilterBlock("OPQRSTU")
        @LettersFilterBlock("VWXYZ")
    </div>
}

@helper NavigationLink(string text, string action)
{
    @Html.ActionLink(text, action, new {}, new { @class = ViewContext.RouteData.Values["action"].ToString() == action ? "btn active" : "btn" })
}

@RazorHelpers.ModalDialog("addUserPopup", 
                          TalentManagement.Resources.Views.People.AddUser.Title, 
                          @<text>@Html.Partial("AddUser",new AddUserModel{IsEmbedded = true})</text>,
                          @<text> <button class="btn btn-primary" form="addUserForm">@UI.Add</button>
                          <a data-dismiss="modal" aria-hidden="true">@UI.Close</a></text>)

@RazorHelpers.ModalDialog("sendInvitationPopup", 
                          TalentManagement.Resources.Views.People.SendInvitation.Title, 
                          @<text>@Html.Partial("SendInvitation",new SendInvitationModel())
                           </text>,
                          @<text>
                               <button class="btn btn-primary" form="sendInvitationForm">@UI.Send</button>       
                               <a data-dismiss="modal" aria-hidden="true">@UI.Close</a>
                          </text>)
                          

@RazorHelpers.ModalDialog("groupUploadPopup", 
                          TalentManagement.Resources.Views.People.GroupUpload.Title, 
                          @<text>@Html.Partial("GroupUpload",new GroupUploadModel{IsEmbedded = true})</text>,
                          @<text>
                               <button class="btn btn-primary" form="groupUploadForm">@UI.Upload</button>
                                <a data-dismiss="modal" aria-hidden="true">@UI.Close</a>
                           </text>
                        )

<div class="widget_body fl_left">
    <div id="activity_stats">
        <div id="quick_actions">
            @NavigationLink(Resource.Staff, "Staff")
            @NavigationLink(Resource.Team, "Team")
        </div>
    </div>
    @using (Html.BeginForm(ViewContext.RouteData.Values["action"].ToString(), "People", FormMethod.Get, new { id = "peopleForm" }))
    {
        @Html.HiddenFor(x => x.UserStatus, new { disabled = "disabled" })
        @Html.HiddenFor(x => x.SecondNamePrefix, new { disabled = "disabled" });
        <div class="row-fluid">
            <div class="btn-group">
                <a class="btn btn-link" data-toggle="modal" data-target="#sendInvitationPopup">@Resource.SendInvitation</a>
                <a class="btn btn-link" data-toggle="modal" data-target="#addUserPopup">@Resource.AddUser</a>
                <a class="btn btn-link" data-toggle="modal" data-target="#groupUploadPopup">@Resource.GroupUpload</a>
            </div>
            <div class="btn-group status-toolbar">
                @Html.ButtonFor(x => x.UserStatus, Resource.Inactive, UserStatus.Inactive, new { @class = "btn" })
                @Html.ButtonFor(x => x.UserStatus, Resource.Active, UserStatus.Active, new { @class = "btn" })
                @Html.ButtonFor(x => x.UserStatus, Resource.Deleted, UserStatus.Deleted, new { @class = "btn" })
                @Html.ButtonFor(x => x.UserStatus, Resource.Disabled, UserStatus.Disabled, new { @class = "btn" })
            </div>
        </div>
        @LettersFilter()
    }
    <table class="table table-condensed">
        <thead>
            @RenderSection("TableHeader")
        </thead>
        <tbody>
            @RenderSection("TableBody")
        </tbody>
    </table>
</div>
