﻿@using Resource = TalentManagement.Resources.Views.People.SendInvitation
@model TalentManagement.Web.Models.People.SendInvitationModel
@{
    ViewBag.Title = Resource.Title;
}

<div class="widget_body fl_left" id="sendInvitationContent">
    @using (Html.BeginForm("SendInvitation", "People", FormMethod.Post, new { id = "sendInvitationForm" }))
    {
        <div class="input-append">
            @Html.WatermarkFor(m => m.EmailLocal) 
            @Html.Appendix(Model.EmailAppendix)
            @Html.ValidationMessageFor(m => m.EmailLocal)
        </div>
    }
</div>