﻿@using Resource = TalentManagement.Resources.Views.People.PeopleLayout
@model TalentManagement.Web.Models.People.TeamModel
@{
    Layout = "PeopleLayout.cshtml";
}

@section TableHeader
{
   @Html.Partial("_TableHeader",Model.Teams.SelectMany(t => t.Users))
}
@section TableBody
{
    @foreach(var team in Model.Teams)
    {
        <tr>
            <td colspan="5">
                <strong>@(team.Name ?? Resource.NotInTeam)</strong>
            </td>
        </tr>
        foreach(var user in team.Users)
        {
           @Html.Partial("_UserRow",user)
        }
    }
}
