﻿@using Resource = TalentManagement.Resources.Views.MyObjectives.Index
@model TalentManagement.Web.Models.MyObjectives.PageModel
      
@{
    ViewBag.Title = Resource.Title;
}

@section Head
{
    @Html.Bundles()
}

<div class="widget_body fl_left">

@foreach(var container in Model.ObjectiveContainers)
{
    <div class="objective-container row-fluid">
        <h5> @container.Title</h5>
        <div class="span8">
            @if (container.Objectives.Any())
            {
                foreach (var objective in container.Objectives)
                {
                    @Html.DisplayFor(m => objective)
                }
            }
            else
            {
                @Html.Raw(container.NoObjectivesMessage)
            }
            
        </div>
    </div>
}
</div>