﻿@using TalentManagement.Web.Models.ReviewCycleCreation
@using Resource = TalentManagement.Resources.Models.ReviewCycleCreation.CreateStep3
@model CreateStep3

<article id="step3-container">
    <div>
        @Html.ValidationSummary()
        <div>
            <button type="button" class="review-everyone btn btn-primary @(Model.ReviewEveryone ? "active" : "" )" data-toggle="button">
                @Resource.ReviewEveryone
            </button>
            @Html.HiddenFor(m => m.ReviewEveryone)
        </div>
        <div class="individuals-picker">
            @Html.Partial("_UserPickerControl",Model.IndividualsPicker)
        </div>
        <div class="managers-picker">
            @Html.Partial("_UserPickerControl",Model.ManagersPicker)
        </div>
    </div>
<div>
   @WizardRazor.FinishFooter(Url.Action("Index"),Url.Action("Index"))
</div>
</article>