﻿@using TalentManagement.Web.Models.ReviewCycleCreation
@model CreateStep1

<ul class="form_fields_container">
    <li>
        @Html.ValidationSummary()
    </li>
    <li>
        @Html.LabelStyledFor(m => m.Name)
        @Html.TextBoxStyledFor(m => m.Name)
    </li>
    <li class="horizontal">
        <label>@TalentManagement.Resources.Models.ReviewCycleCreation.CreateStep1.ReviewTimePeriod</label>
        <span class="red-star">*</span>
        @Html.TextBoxStyledFor(m => m.ReviewStart,UiDataType.Date)
        @Html.TextBoxStyledFor(m => m.ReviewEnd,UiDataType.Date)
    </li>
    <li>
        @Html.LabelStyledFor(m => m.SummaryDue)
        @Html.TextBoxStyledFor(m => m.SummaryDue,UiDataType.Date)
    </li>
    <li>
        @Html.LabelStyledFor(m => m.PearsDue)
        @Html.TextBoxStyledFor(m => m.PearsDue,UiDataType.Date)
    </li>
    <li>
        @Html.LabelStyledFor(m => m.SelfDue)
        @Html.TextBoxStyledFor(m => m.SelfDue,UiDataType.Date)
    </li>
    <li>
        @Html.LabelStyledFor(m => m.ManagerDue)
        @Html.TextBoxStyledFor(m => m.ManagerDue,UiDataType.Date)
    </li>
    <li>
        @Html.LabelFor(m => m.Visibility)
        @Html.DropDownForEnum(m => m.Visibility,null,Model.Visibility.ToString())
    </li>
    <li>
        @Html.Partial("_Footer")
    </li>
</ul>