﻿@using Resource = TalentManagement.Resources.Models.ReviewCycleCreation.CreateStep2
@using TalentManagement.Web.Models.ReviewCycleCreation
@model CreateStep2

<article id="step2-container">
    <div id="create-question-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contributorsLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="contributorsLabel">@Resource.CreateQuestion</h3>
        </div>
        <div class="modal-body">
            @Html.EditorFor(m => m.QuestionNew)                    
        </div>
        <input type="hidden" id="current-set-type" value=""/>
    </div>
    
    <div id="edit-question-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contributorsLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="contributorsLabel">@Resource.EditQuestion</h3>
    </div>
        <div class="modal-body">
            @Html.EditorFor(m => m.QuestionEdit)                    
        </div>
    @Html.HiddenFor(m => m.SelectedSetType)
</div>

    @foreach (QuestionSetModel questionSet in Model.QuestionSets)
{
    @Html.Partial("_QuestionSet",questionSet)
}

@Html.Partial("_Footer")

</article>           