﻿@using Resource = TalentManagement.Resources.Models.ReviewCycleCreation.ReviewCycleModel
@using TalentManagement.Web.Models.ReviewCycleCreation
@model ReviewCycleModel

@Html.Partial("_WizardScript",Model)

@using (Html.BeginForm("Create", "Objective", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="tabs">
       <ul>
           <li><a href="#step1">@UI.Step 1</a></li>
           <li><a href="#step2">@UI.Step 2</a></li>
           <li><a href="#step3">@UI.Step 3</a></li>
        </ul>
    
        <div id="step1">
            @Html.Partial("_CreateStep1", Model.CreateStep1)
        </div>
        <div id="step2">
            @Html.Partial("_CreateStep2", Model.CreateStep2)
        </div>
        <div id="step3">
            @Html.Partial("_CreateStep3",Model.CreateStep3)
        </div>
    </div>
    @Html.HiddenFor(m => m.CurrentStep)
}