﻿@using Resource = TalentManagement.Resources.Models.ReviewCycleCreation.CreateStep2
@using TalentManagement.Web.Models.ReviewCycleCreation
@model QuestionSetModel
           
@helper CreateQuestionLink()
{
    <a href="#create-question-modal"
        class="create-question-link btn btn-primary"
        data-set-type="@(Model.SetType)" 
        role="button" data-toggle="modal">@UI.Create</a>
}
           

@Html.HiddenFor(m => m.Id)
<article id="containerSet_@(Model.SetType)" class="question-set">
        <div class="accordion" id="accordionSet_@(Model.SetType)">
            <div class="accordion-group">
                <div class="accordion-heading">
                    <a class="accordion-toggle" 
                       data-toggle="collapse" 
                       data-parent="#accordionSet_@(Model.SetType)" 
                       href="#collapse_@(Model.SetType)">
                        <span class="title">@Html.Raw(Model.Title)</span>
                    </a>
                    <span class="info-text">@Html.Raw(Model.QuestionNumberInfo)</span>
                </div>
                <div id="collapse_@(Model.SetType)" class="accordion-body collapse">
                    <div class="accordion-inner">
                        
                        @CreateQuestionLink()
                        
                        @foreach (QuestionModel question in Model.Questions)
                        {
                            if (question == @Model.Questions.First())
                            {
                                <hr class="clear"/>
                            }
                            
                            @Html.DisplayFor(m => question)
                            if (question != Model.Questions.Last())
                            {
                                <hr/>    
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
</article>