﻿@using Resource = TalentManagement.Resources.Models.ReviewCycleCreation.ReviewCycleModel
@model TalentManagement.Web.Models.ReviewCycleCreation.ReviewCycleModel
           
@{
    ViewBag.Title = Resource.Title;
}

@section Head{
    @Html.Bundles()
    @{
        TalentManagement.Web.Infrastructure.Navigation.MenuNodesManager.ShowMenuNode(TalentManagement.Resources.Navigation.Performance);
    }
    <script type="text/javascript">
        var urls = {
            addIndividual: function() {
                return '@Url.Action("AddIndividual")';
            },            
            addManager: function() {
                return '@Url.Action("AddManager")';
            }
        }
    </script>
}
<div class="widget_body fl_left" id="wizard">
    @Html.Partial("_CreateWizard",Model)
</div>