﻿@using TalentManagement.Web.Models.Questionaire
@using Resource = TalentManagement.Resources.Models.Questionaire.IndexModel
@model IQuestionnarie

@{
    using (Html.BeginForm("Index", "Questionnaire"))
     {
         foreach (AnswerModel answer in Model.Answers)
         {
             @Html.EditorFor(m => answer)
         }
         @Html.HiddenFor(m => m.ReviewId)
         <footer>
             <button id="save-draft" type="button" class="btn btn-primary" data-review-type="@TalentManagement.Domain.Performance.ReviewStatus.InProgress" >@Resource.SaveDraft</button>
             <button id="share-answer" type="button"  data-review-type="@TalentManagement.Domain.Performance.ReviewStatus.Completed" class="btn btn-primary">@Resource.ShareAnswer</button>
             
             <div id="answers-saved" class="msgbar msg_Success hide_onC">
                <span class="iconsweet">=</span><p><span id="answers-saved-message"></span></p>
         </div>
         </footer>
       
     }
}