﻿@using TalentManagement.Web.Models.MyPreferences;
@model IndexModel

@{
    ViewBag.Title = @Html.LocalizedTextFor(m => m);
}

@section Head
{
    @Html.Bundles()
}

@using (Html.BeginForm("Index", "MyPreferences", FormMethod.Post))
{
    <article class="row">
        <section class="span7">
        @foreach(NotificationSettingModel setting in Model.Settings)
        {
            @Html.EditorFor(m => setting)
        }
        </section>
        <div class="span5 offset3">
            <button type="button" class="btn btn-primary">@TalentManagement.Resources.UI.Update</button>
            <div id="updated" class="msgbar msg_Success hide_onC" style="display: none">
            <span class="iconsweet">=</span><p>@TalentManagement.Resources.Models.MyPreferences.IndexModel.NotificationsUpdated</p>
        </div>
        </div>
        
    </article>
}