﻿@using Resource = TalentManagement.Resources.Models.MyPassword.IndexModel;
@using TalentManagement.Web.Models.MyPassword;
@model IndexModel

@{
    ViewBag.Title = @Html.LocalizedTextFor(m => m);
}

@section Head
{
    @Html.Bundles()
}

@using (Html.BeginForm("Index", "MyPassword", FormMethod.Post))
{
   <article class="row">
       <section class="span5">
           <div>
               @Html.ValidationSummary()
           </div>
           <div>
               @Html.LabelFor(m => m.OldPassword)
               @Html.PasswordStyledFor(m => m.OldPassword)
           </div>
           <div>
               @Html.LabelFor(m => m.NewPassword)
               @Html.PasswordStyledFor(m => m.NewPassword)
           </div>
           <div>
               @Html.LabelFor(m => m.ConfirmPassword)
               @Html.PasswordStyledFor(m => m.ConfirmPassword)
           </div>
       </section>
        <div class="span4 offset4">
            <button type="submit" class="btn btn-primary">@TalentManagement.Resources.UI.Update</button>
            @if (Model.ValidationOk)
            {
                <div id="updated" class="msgbar msg_Success hide_onC">
                    <span class="iconsweet">=</span><p>@Resource.PasswordUpdated</p>
                </div>
            }
        </div>
        
    </article>
}
