﻿@model AnswerModel

<article class="answer">
    <div class="title">@Model.QuestionText</div>
    @Html.TextAreaFor(m => m.Content,new{ cols="40",rows="5"})
    @Html.HiddenFor(m => m.QuestionId)
    @Html.HiddenFor(m => m.Id)
</article>