﻿@model TalentManagement.Web.Models.ObjectiveDetails.ActionItemModel

<div class="action-item">
    <span>@RazorHelpers.Avatar(Model.Owner,ImageSize.Smallest)</span>
    <span class="action-item-name">@Html.Raw(Model.Name)</span>
    <button type="button" class="close fl_right" >×</button>
    @Html.HiddenFor(m => m.Id)
</div>