﻿@model TalentManagement.Web.Models.CycleDetails.ReviewModel
<tr>
    <td>@Model.EmployeeName</td>
    <td>@Model.Status</td>
    <td><a href="#">@TalentManagement.Resources.Models.CycleDetails.IndexModel.Remind</a></td>
</tr>