﻿@using TalentManagement.Web.Models.CycleDetails
@using Resource = TalentManagement.Resources.Models.CycleDetails.IndexModel
@model IndexModel

<table id="reviews-table" class="table table-hover">
<thead>
    <tr>
        <th>@Resource.EmployeeName</th>
        <th>@Resource.Status</th>
        <th>@Resource.Action</th>
    </tr>
</thead>
    <tbody>
        @{
            if (Model.Reviews.Any())
             {
                 foreach (ReviewModel review in Model.Reviews)
                 {
                     Html.RenderPartial("_ReviewRow", review);
                 }
             }
             else
             {
                <tr><td>@Html.Raw(UI.NoItems)</td></tr>
             }
        }
    </tbody>
</table>