﻿@using TalentManagement.Web.Models.CycleDetails
@using Resource = TalentManagement.Resources.Models.CycleDetails.IndexModel
@model IndexModel

@{
    ViewBag.Title = Resource.Title;
}

@section Head
{
    @Html.Bundles()
    @{
       TalentManagement.Web.Infrastructure.Navigation.MenuNodesManager.ShowMenuNode(Navigation.Performance);
    }
    
    <script>
        var urls = {
            selectCycle: function(id) {
                var url = '@Url.RouteUrl(new {action = "Index", controller = "CycleDetails", id = "00000000"})';
                return url.replace('00000000', id);
            }
        }
    </script>
    
}

<div class="cycles">
<span class="title progress">
    <span>@Html.Raw(Model.CycleProgressText)</span>
    <span class="progress-value">@Model.Progress</span>
    <span>%</span>
</span>
@Html.DropDownListFor(m => m.ActiveCycle, Model.CyclesSelectItems, new Dictionary<string, object>{{"data-progresses", Model.CyclesProgress}})
</div>

@Html.Partial("_ReviewsTable", Model)



