﻿@using TalentManagement.Web.Models.MyReviews
@using Resource = TalentManagement.Resources.Models.MyReviews.IndexModel
@model IndexModel

<table id="review-cycle-table" class="table table-hover">
<thead>
    <tr>
        <th>@Resource.ReviewAbout</th>
        <th>@Resource.DueDate</th>
        <th>@Resource.CycleOwner</th>
        <th>@Resource.Action</th>
    </tr>
</thead>
    <tbody>
        @if (Model.Reviews.Any())
        {
            foreach (ReviewModel review in Model.Reviews)
            {
                Html.RenderPartial("_ReviewRow", review);
            }
        }
        else
        {
            @Html.Raw(UI.NoItems)
        }
    </tbody>
</table>