﻿@model TalentManagement.Web.Models.MyReviews.ReviewModel
@using Resource = TalentManagement.Resources.Models.MyReviews.IndexModel;

<tr>
    <td>@Model.ReviewAbout</td>
    <td>@Model.DueDate</td>
    <td>@Model.CycleOwner</td>
    @if (Model.QuestionSetType ==  TalentManagement.Domain.Performance.QuestionSetType.Summary)
    {
        <td>@Html.ActionLink(Resource.WriteReview, "Index", "PerformanceSummary", new { cycleId = Model.CycleId,respondent = Model.ReviewAbout }, null)</td>
    }
    else
    {
        <td>@Html.ActionLink(Resource.WriteReview, "Index", "Questionnaire", new { id = Model.Id }, null)</td>
    }
    
</tr>