﻿@using TalentManagement.Web.Models.MyReviews
@using Resource = TalentManagement.Resources.Models.MyReviews.IndexModel
@model IndexModel

@{
    ViewBag.Title = Resource.Title;
}

@section Head
{
    @Html.Bundles()
}

<div id="activity_stats">
    <div class="btn-group" data-toggle="buttons-radio">
        @Html.ActivationButton(Resource.RequiredAttention, new { href = Url.Action("Index", new { id = Resource.RequiredAttention }) })
        @Html.ActivationButton(Resource.YouRequested, new { href = Url.Action("Index", new { id = Resource.YouRequested }) })
        @Html.ActivationButton(Resource.TheyRequested, new { href = Url.Action("Index", new { id = Resource.TheyRequested }) })
    </div>
</div>

  @Html.Partial("_ReviewsTable",Model)



