﻿@model TalentManagement.Web.Models.MyPreferences.NotificationSettingModel
           
<section>
    <label class="checkbox">
        @Html.CheckBoxFor(m => m.IsEnabled) <span>@Html.Raw(Model.Text)</span>    
    </label>
    @Html.HiddenFor(m => m.SettingId)
</section>
           
