﻿@using TalentManagement.Web.Models.MyNotifications;
@model NotificationGroupModel

<div>
    <h5>@Html.Raw(Model.CreatedAt)</h5>
    <div>
        @foreach(string text in Model.Texts)
        {
            <p>@Html.Raw(text)</p>
        }
    </div>
</div>