﻿@using TalentManagement.Web.Models.MyNotifications;
@model NotificationPopupModel

<article class="notification-popup-model">
    <span class="avatar">@RazorHelpers.Avatar(Model.Sender,ImageSize.Smallest)</span>
    <span>@Html.Raw(Model.Text)</span>
    <div>@Html.Raw(Model.CreatedAt)</div>
</article>