﻿@using TalentManagement.Web.Models.PerformanceSummary
@using Resource = TalentManagement.Resources.Models.PerformanceSummary.IndexModel
@model KudosModel
           
<article class="kudos span5">
    <div class="kudos-badge">@RazorHelpers.Badge(Model.BadgeId,ImageSize.Small)</div>
    <div class="kudos-message">@RazorHelpers.UserProfileLink(Model.Sender,Model.SenderNames)
        @Resource.Thanked
        @RazorHelpers.UserProfileLink(Model.Receiver,Model.ReceiverNames)
        @Resource.With
        @Model.BadgeName
        </div>
    <div class="dates">
        <p>@Model.CreatedAt</p>
    </div>
    <p>
        @Html.Raw(Model.Content)
    </p>
</article>