﻿@using TalentManagement.Web.Models.PerformanceSummary
@using Resource = TalentManagement.Resources.Models.PerformanceSummary.IndexModel
@model IndexModel

<article id="kudos" class="panel row">
@{
    if (Model.Kudos.Any())
    {
        foreach (KudosModel kudosModel in Model.Kudos)
        {
           @Html.Partial("_Kudos",kudosModel)
        }
    }
    else
    {
         <div class="no-items"><h5>@UI.NoItems</h5></div>
    }
}
</article>