﻿@using TalentManagement.Web.Models.PerformanceSummary
@using Resource = TalentManagement.Resources.Models.PerformanceSummary.IndexModel
@model IndexModel
           
           
@helper NoItems(){
    <div class="no-items">@UI.NoItems</div>
}

@helper Objectives(string title,IEnumerable<ObjectiveModel> objectives)
{
    <div class="subpanel">
        <h5 class="title">@title</h5>
        @{
            var objectiveModels = objectives as ObjectiveModel[] ?? objectives.ToArray();
            if (objectiveModels.Any())
            {
                foreach (ObjectiveModel objective in objectiveModels)
                {
                    @Html.Partial("_Objective", objective)
                }
            }
            else
            {
                @NoItems()
            }
        }
    </div>
}

<article id="objectives" class="panel">
@{
    if (Model.Objectives.Any())
    {
        @Objectives(Resource.Achieved,Model.ObjectivesAchieved)

        @Objectives(Resource.NotAchieved, Model.ObjectivesNotAchieved)
    }
    else
    {
        <div class="no-items"><h5>@UI.NoItems</h5></div>
    }
}
</article>