﻿@using TalentManagement.Web.Models.PerformanceSummary
@using Resource = TalentManagement.Resources.Models.PerformanceSummary.IndexModel
@model ObjectiveModel
           
<article class="objective row-fluid">
    @Html.HiddenFor(m => m.IconId)
    <div class="span2">@RazorHelpers.ObjectiveIcon(Model.IconId)</div>
    <div class="span3">
        <span>
            @Html.ObjectiveDetailsLink(@Model.Name,@Model.Id) 
        </span>
        <div class="dates"> 
            <p>@Model.ObjectiveDue</p>
        </div>
    </div>
    <div class="span4">
        @{
                var progress = String.Concat(Model.Progress, "%");
                var padding = Model.Progress == 0 ? "2em" : "0.5em";
        }
        <span class="fl_right" style="padding-left: @(padding)">@progress</span>
        <div class="progress">
            
            <span class="bar" style="width: @(progress)"></span>
        </div>
        
    </div>
</article>
