﻿@using TalentManagement.Web.Models.PerformanceSummary
@using Resource = TalentManagement.Resources.Models.PerformanceSummary.IndexModel
@model IndexModel

@{
    ViewBag.Title = Resource.Title;
}

@section Head
{
    @Html.Bundles()
    @{
        TalentManagement.Web.Infrastructure.Navigation.MenuNodesManager.ShowMenuNode(TalentManagement.Resources.Navigation.Performance);
    }
    <script>
        var urls = {
            saveAnswers: function() {
                return '@Url.Action("Index", "Questionnaire")';
            }
        }
    </script>
}

@helper NoItems(){
    <div class="no-items"><h5>@UI.NoItems</h5></div>
}

<div id="activity_stats">
    <div class="btn-group" data-toggle="buttons-radio">
        <button class="btn" id="show-kudos">@Resource.Kudos</button>
        <button class="btn" id="show-objectives">@Resource.Objectives</button>
        <button class="btn" id="show-personal">@Resource.Personal</button>
        <button class="btn" id="show-peers">@Resource.Peers</button>
    </div>
</div>

<a href="#" id="back-to-summary">@Resource.BackToSummary</a>

<article class="review-info">
    <div class="avatar">@RazorHelpers.Avatar(Model.Respondent)</div>
    <h5>@Model.CycleName</h5>
    <div class="about">@Resource.About&nbsp;@RazorHelpers.UserProfileLink(Model.Respondent, Model.RespondentNames)</div>
    <div class="dates">
        <p>@Model.ReviewCreatedAt</p>
        <p>@Model.ReviewDue</p>
    </div>
</article>

<article id="summary" class="panel">
    @Html.Partial("~/Views/Questionnaire/_AnswersEditor.cshtml", Model)
</article>

<article id="personal" class="panel">
    @{
        if (Model.PersonalAnswers.Any())
        {
            foreach (AnswerModel answer in Model.PersonalAnswers)
            {
                @Html.DisplayFor(m => answer)
            }
        }
        else
        {
             @NoItems()
        }
    }
</article>


@Html.Partial("_ObjectivesPanel",Model)    

@Html.Partial("_KudosPanel",Model)