﻿@model TalentManagement.Web.Models.ObjectiveDetails.ActionItemModel

<div class="action-item-edit form_fields_container">
    <ul>
        <li>
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxStyledFor(m => m.Name, new Dictionary<string, object>{ {"class", "action-item-name"}})
            @Html.ValidationMessageFor(m => m.Name)
        </li>
        <li>
            @Html.UserPickerForModel(false,false)
            @Html.ValidationMessageFor(m => m.Owner)
        </li>
    </ul>
</div>