﻿@using TalentManagement.Web.Models.PerformanceAdministrate
@using Resource = TalentManagement.Resources.Models.PerformanceAdministrate.IndexModel
@model IndexModel

<table id="review-cycle-table" class="table table-hover">
<thead>
    <tr>
        <th>@Resource.CycleName</th>
        <th>@Resource.ReviewPeriod</th>
        <th>@Resource.Progress</th>
        <th>@Resource.Action</th>
    </tr>
</thead>
    <tbody>
        @if (Model.ReviewCycles.Any())
        {
            foreach (ReviewCycleModel reviewCycle in Model.ReviewCycles)
            {
                Html.RenderPartial("_ReviewCycleRow", reviewCycle);
            }
        }
        else
        {
            @Html.Raw(UI.NoItems)
        }
    </tbody>
</table>