﻿@model TalentManagement.Web.Models.PerformanceAdministrate.ReviewCycleModel

<tr>
    <td>@Html.ActionLink(Model.Name,"Index","CycleDetails",new { id = Model.Id },null)</td>
    <td>@Model.ReviewPeriod</td>
    <td>@Model.Progress</td>
    <td>@Model.Action</td>
</tr>