﻿@using TalentManagement.Web.Models.PerformanceAdministrate
@using Resource = TalentManagement.Resources.Models.PerformanceAdministrate.IndexModel
@model IndexModel

@{
    ViewBag.Title = Resource.Title;
}

@section Head
{
    @Html.Bundles()
}

<div id="activity_stats">
    <div class="btn-group" data-toggle="buttons-radio">
        @Html.ActivationButton(Resource.Active, new { href = Url.Action("Index", new { id = Resource.Active }) })
        @Html.ActivationButton(Resource.Completed, new { href = Url.Action("Index", new { id = Resource.Completed }) })
    </div>
    @Html.ActionLink(Resource.NewCycle,"Index","ReviewCycleCreation",null,new { id = "create-new-cycle",@class="btn btn-primary"})
</div>

  @Html.Partial("_ReviewCycleTable",Model)



