﻿@using TalentManagement.Web.Models.MyNotifications;
@model PopupModel
           
@if(false == Model.Notifications.Any())
{
    <div class="title">@TalentManagement.Resources.UI.NoItems</div>
}

@foreach (var notification in Model.NotificationsToShow)
{
    @Html.DisplayFor(m => notification)
}

<div id="notifications-hidden" class="collapse">
    
    @foreach (var notification in Model.NotificationsHidden)
    {
        @Html.DisplayFor(m => notification)
    }
</div>

@if (Model.HasHiddenNotifications)
{
   <button type="button" class="btn" data-toggle="collapse" data-target="#notifications-hidden">
        @Html.Raw(TalentManagement.Resources.UI.ShowAll)
    </button>
}
