﻿@using TalentManagement.Web.Models.MyNotifications;
@model IndexModel

@section Head
{
    @Html.Bundles()
}

 <article class="row">
     <section class="span7">
        @if (Model.NotificationGroups.Any())
        {
            foreach (var notificationGroup in Model.NotificationGroups)
            {
                 @Html.DisplayFor(m => notificationGroup)
            }
        }
        else
        {
            <span class="title">@TalentManagement.Resources.UI.NoItems</span>
        }
        
   </article>