﻿@model CommentModel

<div class="comment">
  
    <div class="avatar-container">
        @RazorHelpers.Avatar(Model.CreatedBy,ImageSize.Smallest)
    </div>
    
    <span class="names">@Model.CreatorNames</span>
    
    <div class="content">
    @Html.Raw(@Model.Content)
</div>

</div>