﻿@model CommentSectionModel  

<article class="comment-section span9">
    
    <div class="new-comment" style="@(Model.HasComments ? "clear:left" : "" )">
        @Html.WatermarkFor(m => m.NewComment.Content)
        <button class="btn btn-primary" type="button">Post</button>
    </div>

    @{
        if (Model.HasComments)
        {
            foreach (CommentModel comment in @Model.Comments)
            {
                @Html.Partial("_Comment", comment)
            }
        }
    }
</article>
