﻿@using TalentManagement
@using TalentManagement.Infrastructure
@using TalentManagement.Infrastructure.Security
@using TalentManagement.Infrastructure.Mapping
@using LayoutResource = TalentManagement.Resources.Views.Shared.Layout
@using TalentManagement.Web.Infrastructure.Bundles
@{
    TenantIdentity identity = DependencyResolver.Current.GetService<IPrincipalProvider>()
                                                        .GetIdentity();

    if (identity == null)
    {
        FormsAuthentication.RedirectToLoginPage();
    }
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>@ViewBag.Title</title>
        @Html.Bundles("~/Bundles/LayoutCss")
        @Html.Bundles("~/Bundles/LayoutJs")
        
        <script type="text/javascript">
            var globalUrls = {
                addFeedCommentUrl : function () {
                    return '@Url.Action("AddComment","Feed")';
                }
            }
        </script>
        @RenderSection("Head", false)
         
    </head>

    <body>
        
<!--Header-->
<header class="navbar navbar-inverse">
    <div id="logo">
        <a href="@Url.Action("Index","Company")">@RazorHelpers.CompanyLogoForUser(ImageSize.Smaller)</a>
    </div>
    <span id="company-name">@identity.GetSafe(i => i.Tenant)</span>
    
    <!--Search-->
    <div class="header_search">
        <form action="">
            <input type="text" name="search" placeholder="Search" id="ac" />
            <input type="submit" value="" />
        </form>
    </div>
    
    @Html.ActionLink(LayoutResource.CompanySettings,"Index","Company",null,new {id = "company-settings-link"})
</header>
<!--Dreamworks Container-->
        <div class="container">
            @Html.MvcSiteMap().Menu(false)
         
            <section id="main_content">
                <div id="content_wrap">
                    @RenderBody()    
                </div>
                <br class="clear"/>
            </section>
        </div>
        
    </body>
</html>
