﻿@using TalentManagement.Web.Infrastructure.Bundles
<!DOCTYPE html >
<html>
    <head>
        <meta charset="utf-8">
        <title>@ViewBag.Title</title>

        @Html.Bundles("~/Bundles/LoginMasterCss")
        @Html.Bundles("~/Bundles/LoginMasterJs")
        @RenderSection("Head",false)
    </head>

<body id="login_container">
    <div id="dreamworks_container">
        <div id="login">
            <img src=@Url.Content("~/Content/themes/base/images/logo_login.png") alt="" />
            @RenderBody()
        </div>
    </div>
    @RazorHelpers.Script("~/Scripts/validation-tips.js")
</body>
</html>
