﻿@using TalentManagement
@using TalentManagement.Infrastructure
@using TalentManagement.Infrastructure.Security
@using TalentManagement.Infrastructure.Mapping
@using TalentManagement.Web.Infrastructure.Bundles
@{
    TenantIdentity identity = DependencyResolver.Current.GetService<IPrincipalProvider>()
                                                        .GetIdentity();

    if (identity == null)
    {
        FormsAuthentication.RedirectToLoginPage();
    }
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>@ViewBag.Title</title>
        @Html.Bundles("~/Bundles/LayoutCss")
        @Html.Bundles("~/Bundles/LayoutJs")
        
        <script type="text/javascript">
            var globalUrls = {
                addFeedCommentUrl: function () {
                    return '@Url.Action("AddComment","Feed")';
                }
            }
        </script>
        @RenderSection("Head", false)
        
        
    </head>

    <body>
        
<!--Header-->
<header class="navbar navbar-inverse">
    <div id="logo"><a href="#">@RazorHelpers.CompanyLogoForUser(ImageSize.Smaller)</a></div>
    <span id="company-name">@identity.GetSafe(i => i.Tenant)</span>
    <!--Search-->
    <div class="header_search">
        <form action="">
            <input type="text" name="search" placeholder="Search" id="ac" />
            <input type="submit" value="" />
        </form>
    </div>
</header>
<!--Dreamworks Container-->
        <div class="container">
            <section id="main_content" style="background-image: none;">
                <div id="content_wrap" style="margin-left: 30px;">
                    @RenderBody()    
                </div>
                <br class="clear"/>
            </section>
        </div>
        
    </body>
</html>