﻿@model UserPickerControl

<script>
    typeaheadInit();
</script>
    
<div class="user-picker-control" data-prefix="@Model.Prefix" >
    @Html.HiddenFor(m => m.Prefix)
    @Html.HiddenFor(m => m.UsersJson, Html.CreateIdAttributesFor(m => m.UsersJson,Model.Prefix))
    @Html.HiddenFor(m => m.UserNames, Html.CreateIdAttributesFor(m => m.UserNames, Model.Prefix))
    
    <div id="user-picker-title">@Html.Raw(@Model.Title)</div>
    
    @{
        var attributes = new Dictionary<string, object>
            {
                {"data-provide", "typeahead"},
                {"data-source", Model.UserNames},
                {"data-items", 4},
                {"data-id", "CurrentNames"},
                {"autocomplete", "off"}
            };
        if (@Model.Prefix == null)
        {
            @Html.WatermarkStyledFor(m => m.CurrentNames, attributes)
        }
        else
        {
            Html.CreateIdAttributesFor(m => m.CurrentNames, Model.Prefix)
                    .Map(pair => attributes.Add(pair.Key, pair.Value));
            
            @Html.Watermark((string)attributes["name"],Model.CurrentNames,TalentManagement.Resources.Models.UserPickerControl.CurrentNames,attributes)
        }
    }
    
    
                                               
    @if (Model.ShowAddButton)
    {
        <button id="pickUserButton" class="btn" type="button">+</button>
    }
    
    @if (Model.ShowPickedUsers)
    {
        foreach (UserPicked user in Model.UsersPicked)
        {
            @Html.Partial("_UserPicked", user)
        }
    }
</div>