﻿@model UserInfoModel

<dl class="user_info">
    <dt>
        <a href="#">@RazorHelpers.AvatarForUser()</a>
    </dt>
    <dd>
                    
        <a class="welcome_user" href="#">@TalentManagement.Resources.Views.Shared.Layout.Welcome, <strong>@Model.FirstName @Model.SecondName</strong></a>
        <span class="log_data">@Model.LastSignIn</span>
        @Html.RouteLink("Logout", "Logout", null, new { @class = "logout" })
        
        <a class="user_messages"  role="button" data-toggle="modal" href="#notifications-popup">
            <span>@Model.NotificationsCount</span>
        </a>
        
        <div id="notifications-popup" class="modal hide fade"  style="width: 350px" tabindex="-1" role="dialog" aria-labelledby="contributorsLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body"> @Html.Action("Popup","MyNotifications")</div>
        <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">@TalentManagement.Resources.UI.Close</button>
        </div>
    </div>
     
    </dd>
</dl>