﻿@model UserPicked
<div class="contributor" data-prefix="@Model.Prefix">
    @RazorHelpers.Avatar(@Model.Id,ImageSize.Smaller)
    @Model.ToString()
    @Html.HiddenFor(m => m.Prefix)
    @Html.HiddenFor(m => m.Id,Html.CreateIdAttributesFor(m => m.Id,Model.Prefix))
    @Html.HiddenFor(m => m.FirstName, Html.CreateIdAttributesFor(m => m.FirstName, Model.Prefix))
    @Html.HiddenFor(m => m.SecondName, Html.CreateIdAttributesFor(m => m.SecondName, Model.Prefix))
    
     <button type="button" class="close fl_right" >×</button>
</div>