/* ------------------------------------------------------------------------  COMMON --------------------------------------        */
.tab-content{
	width:100%;
	padding-left: 10px;
	section{
		padding-bottom:10px;
	}
}

.nav-tabs{
	width:100%;
}
.form_input{
		display: inline-block;
	}
label{
	display: inline-block;
}

@mixin grayed-panel{
	background: #E4E4E4;
	color: #000000;
	border: solid 1px #CCC;	
}

/* ------------------------------------------------------------------------  GENERAL TAB --------------------------------------     */

#general{
	label{
		display: inline-block;
		padding-right:15px;
		font-weight:bold;
		min-width:110px;
	}

	select{ 
		width:auto;
	}
	footer button{
		width:77px;
		margin-top:15px;
	}
}

/* ------------------------------------------------------------------------  BADGES TAB --------------------------------------        */
.badge-editor{
	label{
		min-width:100px;		
	}
	input[type="file"]{
		display:none;
	}
}

.modal-footer{
	a {
		padding-right:15px;
	}
}

.badge-view{	
	padding: 5px;
	min-height:160px;
	border: solid 1px transparent;	//to avoid badges jumping on hover

	p{
		margin:0px;
	}
	img{
		margin-left:30px;
	}
	.thumbnail{
		border-style: none;
		box-shadow: none;
	}
	.badge-view-action{
		display:none;
		margin-left:20px;	
		a{
			padding-right:5px;
		}
	}		
}

.badge-view:hover{
	@include grayed-panel;
	.badge-view-action {
		display:block
	}

}

#badges{
	  padding-left:40px;   
}

/* ------------------------------------------------------------------------  OBJECTIVES FOCUS TAB --------------------------------------     */

#objectives-focus{
	.objective-icons-container{
		padding-bottom: 30px;

		.objective-icon{
			min-height:140px;
			border: solid 1px transparent;	//to avoid badges jumping on hover			
			cursor: pointer;
			padding: 5px;
			margin-bottom:0px;

			.objective-icon-action{
				display: none;
				margin-left:45px;	
				padding-top:10px;
				padding-bottom: 0px;
			}
		}
		.objective-icon:hover{
			@include grayed-panel;
			.objective-icon-action {
				display:block
			}
		}
	}
}


