/* ------------------------------------------------------------------------  COMMON --------------------------------------        */
.tab-content {
  width: 100%;
  padding-left: 10px; }
  .tab-content section {
    padding-bottom: 10px; }

.nav-tabs {
  width: 100%; }

.form_input {
  display: inline-block; }

label {
  display: inline-block; }

/* ------------------------------------------------------------------------  GENERAL TAB --------------------------------------     */
#general label {
  display: inline-block;
  padding-right: 15px;
  font-weight: bold;
  min-width: 110px; }
#general select {
  width: auto; }
#general footer button {
  width: 77px;
  margin-top: 15px; }

/* ------------------------------------------------------------------------  BADGES TAB --------------------------------------        */
.badge-editor label {
  min-width: 100px; }
.badge-editor input[type="file"] {
  display: none; }

.modal-footer a {
  padding-right: 15px; }

.badge-view {
  padding: 5px;
  min-height: 160px;
  border: solid 1px transparent; }
  .badge-view p {
    margin: 0px; }
  .badge-view img {
    margin-left: 30px; }
  .badge-view .thumbnail {
    border-style: none;
    box-shadow: none; }
  .badge-view .badge-view-action {
    display: none;
    margin-left: 20px; }
    .badge-view .badge-view-action a {
      padding-right: 5px; }

.badge-view:hover {
  background: #E4E4E4;
  color: #000000;
  border: solid 1px #CCC; }
  .badge-view:hover .badge-view-action {
    display: block; }

#badges {
  padding-left: 40px; }

/* ------------------------------------------------------------------------  OBJECTIVES FOCUS TAB --------------------------------------     */
#objectives-focus .objective-icons-container {
  padding-bottom: 30px; }
  #objectives-focus .objective-icons-container .objective-icon {
    min-height: 140px;
    border: solid 1px transparent;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 0px; }
    #objectives-focus .objective-icons-container .objective-icon .objective-icon-action {
      display: none;
      margin-left: 45px;
      padding-top: 10px;
      padding-bottom: 0px; }
  #objectives-focus .objective-icons-container .objective-icon:hover {
    background: #E4E4E4;
    color: #000000;
    border: solid 1px #CCC; }
    #objectives-focus .objective-icons-container .objective-icon:hover .objective-icon-action {
      display: block; }

