.answer {
  padding-bottom: 15px; }

footer {
  float: right; }
  footer button {
    margin-left: 15px; }

.markItUpEditor {
  padding: 5px 5px 5px 30px !important;
  height: auto !important; }

