@mixin grayed-panel{
	background: #E4E4E4;
	color: #000000;
	border: solid 1px #CCC;	
}

.cycles{
	padding:10px;
	@include grayed-panel;
}

.progress{
	background-color: #E4E4E4 !important;
	span{
		background-color: #E4E4E4 !important;
	}
}