.cycles {
  padding: 10px;
  background: #E4E4E4;
  color: #000000;
  border: solid 1px #CCC; }

.progress {
  background-color: #E4E4E4 !important; }
  .progress span {
    background-color: #E4E4E4 !important; }

