#action-buttons {
  float: right; }

.feedback {
  padding-bottom: 20px; }
  .feedback .title {
    padding-top: 5px;
    font-weight: bold; }
  .feedback .creation-date {
    color: #888;
    font-size: 11px;
    padding-right: 10px; }
  .feedback .response {
    padding-top: 20px; }
  .feedback a {
    font-size: 11px; }

.comment-section {
  float: left;
  width: 50%;
  margin-left: -47px;
  margin-top: 10px; }

.details {
  margin-top: 20px;
  padding-top: 5px;
  border-top: solid 1px #CDD1D3;
  -webkit-box-shadow: 0 -1px 1px -1px white;
  -moz-box-shadow: 0 0 -1px 1px -1px white;
  box-shadow: 0 -1px 1px -1px white; }
  .details .comment-section {
    float: left;
    width: 100%;
    margin-left: 0px;
    margin-top: 10px; }

#ask-feedback-modal {
  width: 350px; }
  #ask-feedback-modal input {
    width: 95%; }
  #ask-feedback-modal .form_input {
    padding-bottom: 15px; }
  #ask-feedback-modal .user-picker-control .form_input {
    float: left;
    width: 89%; }

