﻿.forgotpassword {
    padding-bottom: 10px;   
}
.forgotpassword a{
    color: #9eaeb3;
    float: right;
    padding: 10px 15px 0px 0px;
}


.file-upload{
	display: inline-block;
	margin-bottom:15px;
	input[type="file"]
	{
		display: none;
	}	
	a{	
		color:#9eaeb3;
		text-decoration: underline;
		cursor: pointer;	
	}
	[name ="filename"]{
		margin-left:15px;
		background: none;
		border: 0;
		outline: none;
		width: 230px;
		padding: 7px 4px 4px;
		height: 24px;
		line-height: 15px;
		font-size: 14px;
		color:#dbe7eb;
		text-shadow: 0px 1px 0px  #222526;
		font-family: Arial, Verdana, sans-serif;
	}
}