label, .form_input, .input-append {
  display: inline-block; }

label {
  width: 200px;
  display: inline-block;
  text-align: right;
  line-height: 15px;
  font-size: 14px;
  color: #2A2F31;
  font-family: Arial, Helvetica, sans-serif; }

.row > section > div {
  margin-bottom: 15px; }

button {
  margin-top: 15px; }

label[for="ManagerEmailLocal"] + div.input_box {
  margin-left: 10px; }

.input-append {
  font-size: inherit; }
  .input-append .add-on {
    margin-left: -5px; }

#saved {
  display: none;
  width: 210px; }

