.action-item-container{
    h5 {
        margin-bottom: 5px;
    }
}

#new-action-item{
	width:280px;
	article div{
		padding-bottom:5px;
	}
	.modal-footer a{
		padding-right:15px;
	}
}

#ui-datepicker-div{
z-index:2000;//to show it over the modal
}