#activity_stats .title {
  font-weight: bold; }
  #activity_stats .title label {
    display: inline;
    font-weight: bold; }
#activity_stats select {
  margin-right: 20px; }

.goto-links {
  padding-top: 20px; }

.objective-group {
  padding-top: 20px; }
  .objective-group .title {
    font-weight: bold; }
    .objective-group .title a {
      cursor: default;
      color: #333; }
    .objective-group .title a:hover {
      text-decoration: none; }

div.form_input .in_error {
  background-image: url(../images/Remove.png);
  background-repeat: no-repeat;
  background-position: right center;
  box-shadow: 0px 0px 3px 0px #DC5C5C;
  -webkit-box-shadow: 0px 0px 3px 0px #DC5C5C;
  border-color: #DC5C5C; }

