$padding-actions-top: 20px;

#activity_stats{
	
	.title{
		font-weight: bold;

		label{
			display: inline;
			font-weight: bold;
		}			
	}

	select{	
			margin-right: 20px;
	}
}

.goto-links{
	padding-top: $padding-actions-top;
}

.objective-group{
	padding-top:$padding-actions-top;
	.title{
		font-weight: bold;
		a{
			cursor: default;
			color: #333;
		}
		a:hover{
			text-decoration:none;
		}
	}	
	.due{
		
	}
}

div.form_input .in_error
{
	background-image: url(../images/Remove.png);
	background-repeat: no-repeat;
	background-position: right center;
	box-shadow: 0px 0px 3px 0px #DC5C5C;
	-webkit-box-shadow: 0px 0px 3px 0px #DC5C5C;
	border-color: #DC5C5C;
}