$secondary-color: #888;
$small-font : 11px;

@mixin modal-with-userpicker{
	width: 355px;
		input {
			width:95%;
		}
		.form_input{
			margin-bottom:15px;		
		}
		
		.user-picker-control{
			.form_input{
				float:left;	
				width:89%;
			}	
		}
}

#action-buttons{
	float: right;
}

.feedback
{
	.title{
		padding-top: 5px;
		font-weight: bold;
	}
	.creation-date{
		color:#888;
		font-size:$small-font;
		padding-right: 10px;
	}
	padding-bottom:20px;

	.response{
		padding-top:20px;
	}
	a{
		font-size:$small-font;
	}
}

.comment-section{
	float:left;
	width:50%;
	margin-left: -47px;
	margin-top: 10px;

}

.details
{
	margin-top:20px;
	padding-top: 5px;
	border-top: solid 1px #CDD1D3;
	-webkit-box-shadow:  0 -1px 1px -1px white;
	-moz-box-shadow: 0 0 -1px 1px -1px white;
	box-shadow:  0 -1px 1px -1px white;
	
	.comment-section{
		float:left;
		width:100%;
		margin-left: 0px;
		margin-top: 10px;		
	}
}

.modal{ 

     a{		
		font-size:14px;
	 }
	.modal-footer a[data-dismiss="modal"]{
		cursor:pointer;
		padding: 0px 15px 5px 0px;
	}
}
[id^=provide-feedback-modal]{
	width: 350px;
	input {
		width:95%;
	}
}

#ask-feedback-modal{
	@include modal-with-userpicker;
}

#say-kudos-modal{
	@include modal-with-userpicker;

	.form_input{
		display: inline-block;
	}
	#kudos-generic-properties{
		padding-top:15px;
	}

	.title{
		padding-bottom:5px;
	}

	.current-badge-container{
		width:100px;
		float: left;

		#kudos-current-badge{
			padding-left:25px;
		}

		#kudos-change-badge{
			display: block;			
		}
	}

	#kudos-back	{
		margin-top: 15px;
		display: block;
	}
	
	textarea{
		margin-left:15px;
	}
	
	.badges{
		display: none;
		img:hover{
			border: 1px solid #CCC;
		}
	}
}

.badge-selected{	
	width: 65px;
	height: 65px;
}