#action-buttons {
  float: right; }

.feedback {
  padding-bottom: 20px; }
  .feedback .title {
    padding-top: 5px;
    font-weight: bold; }
  .feedback .creation-date {
    color: #888;
    font-size: 11px;
    padding-right: 10px; }
  .feedback .response {
    padding-top: 20px; }
  .feedback a {
    font-size: 11px; }

.comment-section {
  float: left;
  width: 50%;
  margin-left: -47px;
  margin-top: 10px; }

.details {
  margin-top: 20px;
  padding-top: 5px;
  border-top: solid 1px #CDD1D3;
  -webkit-box-shadow: 0 -1px 1px -1px white;
  -moz-box-shadow: 0 0 -1px 1px -1px white;
  box-shadow: 0 -1px 1px -1px white; }
  .details .comment-section {
    float: left;
    width: 100%;
    margin-left: 0px;
    margin-top: 10px; }

.modal a {
  font-size: 14px; }
.modal .modal-footer a[data-dismiss="modal"] {
  cursor: pointer;
  padding: 0px 15px 5px 0px; }

[id^=provide-feedback-modal] {
  width: 350px; }
  [id^=provide-feedback-modal] input {
    width: 95%; }

#ask-feedback-modal {
  width: 355px; }
  #ask-feedback-modal input {
    width: 95%; }
  #ask-feedback-modal .form_input {
    margin-bottom: 15px; }
  #ask-feedback-modal .user-picker-control .form_input {
    float: left;
    width: 89%; }

#say-kudos-modal {
  width: 355px; }
  #say-kudos-modal input {
    width: 95%; }
  #say-kudos-modal .form_input {
    margin-bottom: 15px; }
  #say-kudos-modal .user-picker-control .form_input {
    float: left;
    width: 89%; }
  #say-kudos-modal .form_input {
    display: inline-block; }
  #say-kudos-modal #kudos-generic-properties {
    padding-top: 15px; }
  #say-kudos-modal .title {
    padding-bottom: 5px; }
  #say-kudos-modal .current-badge-container {
    width: 100px;
    float: left; }
    #say-kudos-modal .current-badge-container #kudos-current-badge {
      padding-left: 25px; }
    #say-kudos-modal .current-badge-container #kudos-change-badge {
      display: block; }
  #say-kudos-modal #kudos-back {
    margin-top: 15px;
    display: block; }
  #say-kudos-modal textarea {
    margin-left: 15px; }
  #say-kudos-modal .badges {
    display: none; }
    #say-kudos-modal .badges img:hover {
      border: 1px solid #CCC; }

.badge-selected {
  width: 65px;
  height: 65px; }

