/*--------------------------------------------------------  DEFINITIONS	------------------	*/
/*--------------------------------------------------------  OVERVIEW	------------------	*/
#overview {
  float: left;
  width: 100%;
  border-bottom: solid 1px #CDD1D3;
  box-shadow: 0px 1px 0px 0px white;
  -webkit-box-shadow: 0px 1px 0px 0px white; }
  #overview .span5 img {
    float: left; }
  #overview .span5 .objective-name {
    font-size: 16px;
    margin-left: 5px;
    font-weight: bold; }
  #overview .span5 .objective-description {
    margin-left: 70px;
    background-color: #CCC; }

#progress-updated {
  display: none; }

#objective-completed {
  display: none;
  clear: right; }

#objective-complete-btn {
  float: right;
  margin-top: 15px;
  margin-bottom: 15px; }

.progress-container {
  padding-top: 25px; }

.dl-horizontal {
  padding-top: 10px; }
  .dl-horizontal dt {
    width: auto;
    padding-bottom: 5px;
    min-height: 20px; }
    .dl-horizontal dt label {
      font-size: 12px;
      font-weight: bold; }
  .dl-horizontal dd:first {
    height: 50px; }
  .dl-horizontal dd {
    margin-left: 100px;
    padding-bottom: 15px;
    padding-bottom: 5px;
    min-height: 20px; }
    .dl-horizontal dd .iconsweet {
      font-size: 30px;
      padding-left: 5px;
      padding-right: 2px;
      margin-bottom: 2px;
      cursor: pointer;
      color: Black; }
    .dl-horizontal dd .iconsweet-buddy {
      font-size: 14px;
      color: Black; }
  .dl-horizontal #visibility {
    padding-left: 20px; }

/*--------------------------------------------------------  KEY RESULTS	------------------	*/
#low-panel {
  padding-top: 10px;
  float: left;
  width: 100%;
  border-bottom: solid 1px #CDD1D3;
  box-shadow: 0px 1px 0px 0px white;
  -webkit-box-shadow: 0px 1px 0px 0px white; }
  #low-panel .key-result {
    background: #E4E4E4;
    color: #000000;
    border: solid 1px #CCC;
    margin-bottom: 10px;
    padding-left: 5px; }

.collapse {
  overflow: hidden; }

.action-item {
  background: #E4E4E4;
  color: #000000;
  border: solid 1px #CCC;
  padding: 10px 10px 5px 15px;
  margin-top: 10px; }
  .action-item .close {
    padding-top: 5px; }
  .action-item .action-item-name {
    padding-left: 7px;
    display: inline-block;
    word-break: break-all; }
  .action-item .iconsweet {
    cursor: pointer; }

.accordion-inner > a {
  margin-bottom: 5px; }

.form_fields_container li {
  background-color: transparent; }
  .form_fields_container li div.form_input {
    float: none; }

div.form_input .in_error {
  background-image: url(../images/Remove.png);
  background-repeat: no-repeat;
  background-position: right center;
  box-shadow: 0px 0px 3px 0px #DC5C5C;
  -webkit-box-shadow: 0px 0px 3px 0px #DC5C5C;
  border-color: #DC5C5C; }

.action-item-edit-container {
  background: #E4E4E4;
  color: #000000;
  border: solid 1px #CCC;
  border: none;
  padding: 0px 5px 0px 5px; }
  .action-item-edit-container .action-item-edit {
    margin: 5px 0px 5px 0px; }
    .action-item-edit-container .action-item-edit .field-validation-error {
      padding-left: 53px;
      font-size: 12px; }
    .action-item-edit-container .action-item-edit .form_input {
      display: inline;
      width: 135px; }
    .action-item-edit-container .action-item-edit .action-item-name {
      width: 135px; }
    .action-item-edit-container .action-item-edit #user-picker-title, .action-item-edit-container .action-item-edit label {
      font-weight: bold;
      font-size: 12px;
      width: 50px;
      display: inline-block; }
  .action-item-edit-container .btn {
    float: right;
    margin-right: 5px; }

.user-picker-control [data-provide] {
  width: 120px; }
.user-picker-control label {
  width: 50px; }

/*--------------------------------------------------------	FEEDS 	------------------	*/
#NewFeed {
  width: 85%; }

#post-feed {
  background-color: #515B5E;
  padding: 5px 5px 5px 5px; }

/*--------------------------------------------------------  MISC	------------------	*/
label {
  font-weight: bold;
  display: inline-block; }

.span8 {
  max-height: 300px;
  overflow: auto; }

.image-smaller {
  padding: 2px 2px 2px 2px; }

ul {
  margin-left: 10px; }

