$row-margin : 0px 15px 0px 15px;

#CurrentNames{
	width: 80%;
}


div.msgbar {
    margin-top: 0px;
}

.iconsweet{
	border-left: dotted 1px #708A93;
	padding-left: 8px;
}

/*  ------------------------					LABELS        -----------------------------                       */

// Checkbox labels
.form_fields_container label[for="AddMe"] {
	margin-left:20px;
	width: 80px;
}

.form_fields_container label[for="MyTeam"] {
	margin-left:50px;
	width: 100px
}
 /*  ------------------------		USER PICKER       -----------------------------                */
 #step3{
	 .user-picker-control{
		.form_input{
			float:none;
			display: inline;
		}
		#pickUserButton{
			float: none;
			margin-left:-5px;
		}
		.contributor{
			padding-top:10px;
		}
	 }
 }

 /*  ------------------------		KEY RESULTS        -----------------------------                */
.key-result-container{
	background: #E4E4E4 !important;
	color: #999 !important;
	border: solid 1px #CCC !important;
	margin-bottom: 10px;
	div{
		padding: $row-margin !important;		
		span{
			float: right;
		}
		#clickToEdit
		{ 
			cursor: pointer;
			margin-right:10px;
		}
		#keyResultDue{
			margin-right:8px;
		}
		#deleteKeyResult{
			cursor:pointer;
		}
	}
}

#new-key-result {  
  background-color: darken(#FFFFFF,10%);   
  padding: $row-margin;
  border: solid 1px #CCC !important;
  ul{
	li{
		background-color: darken(#FFFFFF,10%);   
		border-top: dotted 1px darken(#E6E6E6,10%);
		label {
			color: darken(#818386,10%);
		}
		input{			
			color : darken(#666,10%);
		}
	}
  }
  }

