#CurrentNames {
  width: 80%; }

div.msgbar {
  margin-top: 0px; }

.iconsweet {
  border-left: dotted 1px #708A93;
  padding-left: 8px; }

/*  ------------------------					LABELS        -----------------------------                       */
.form_fields_container label[for="AddMe"] {
  margin-left: 20px;
  width: 80px; }

.form_fields_container label[for="MyTeam"] {
  margin-left: 50px;
  width: 100px; }

/*  ------------------------		USER PICKER       -----------------------------                */
#step3 .user-picker-control .form_input {
  float: none;
  display: inline; }
#step3 .user-picker-control #pickUserButton {
  float: none;
  margin-left: -5px; }
#step3 .user-picker-control .contributor {
  padding-top: 10px; }

/*  ------------------------		KEY RESULTS        -----------------------------                */
.key-result-container {
  background: #E4E4E4 !important;
  color: #999 !important;
  border: solid 1px #CCC !important;
  margin-bottom: 10px; }
  .key-result-container div {
    padding: 0px 15px 0px 15px !important; }
    .key-result-container div span {
      float: right; }
    .key-result-container div #clickToEdit {
      cursor: pointer;
      margin-right: 10px; }
    .key-result-container div #keyResultDue {
      margin-right: 8px; }
    .key-result-container div #deleteKeyResult {
      cursor: pointer; }

#new-key-result {
  background-color: #e6e6e6;
  padding: 0px 15px 0px 15px;
  border: solid 1px #CCC !important; }
  #new-key-result ul li {
    background-color: #e6e6e6;
    border-top: dotted 1px #cdcdcd; }
    #new-key-result ul li label {
      color: #686a6c; }
    #new-key-result ul li input {
      color: #4d4d4d; }

