﻿/*--------------------------------------------------------  DEFINITIONS	------------------	*/

@mixin bordered-panel{
	float:left;
	width: 100%;
	border-bottom: solid 1px #CDD1D3;
	box-shadow: 0px 1px 0px 0px white;
	-webkit-box-shadow: 0px 1px 0px 0px white; 
}

@mixin grayed-panel{
	background: #E4E4E4;
	color: #000000;
	border: solid 1px #CCC;	
}

@mixin description{
   padding-bottom: 5px;
   min-height: 20px;
}

/*--------------------------------------------------------  OVERVIEW	------------------	*/

#overview{	
	@include bordered-panel;	

	.span5{
		img{
			float:left;
		}
		.objective-name{
			font-size: 16px;
			margin-left: 5px;
			font-weight: bold;
		}
		.objective-description{
			margin-left:70px;
			background-color: #CCC;
		}
	}

	
}

#progress-updated{
	display: none;
}

#objective-completed{
	display: none;
	clear:right;
}

#objective-complete-btn{
	float: right;	
	margin-top: 15px;
	margin-bottom:15px;
}

.progress-container{
	padding-top:25px;
}

.dl-horizontal{
	padding-top: 10px;	
	dt{
		width: auto;
	    label{
			font-size:12px;					
			font-weight: bold;
		}
		@include description;	 
	}
	dd:first{
		height:50px;
	}
	dd	{
		margin-left: 100px;
		padding-bottom:15px;
		@include description;	 		
		.iconsweet{
			font-size: 30px;
			padding-left: 5px;
			padding-right: 2px;
			margin-bottom:2px;
			cursor: pointer;
			color: Black;
		}
		.iconsweet-buddy{
		   font-size : 14px;
		   color: Black;
		}
		
	}
	#visibility{
		padding-left:20px;
	}
}

/*--------------------------------------------------------  KEY RESULTS	------------------	*/

#low-panel{
	padding-top: 10px;	
	@include bordered-panel;

	.key-result{
		@include grayed-panel;
		margin-bottom: 10px;
		padding-left:5px;
	}
}

.collapse
{
	overflow: hidden;
}
.action-item{
	@include grayed-panel;
	padding: 10px 10px 5px 15px;
	margin-top: 10px;

	.close{
		padding-top: 5px;
	}
	
	.action-item-name{
		padding-left: 7px;		
		display: inline-block;
		word-break: break-all;
	}
	.iconsweet{
		cursor: pointer;
	}	
}
.accordion-inner > a{
	margin-bottom:5px;
}
.form_fields_container li
{
	background-color: transparent;
	div.form_input{
		float:none;
	}
}


div.form_input .in_error
{
	background-image: url(../images/Remove.png);
	background-repeat: no-repeat;
	background-position: right center;
	box-shadow: 0px 0px 3px 0px #DC5C5C;
	-webkit-box-shadow: 0px 0px 3px 0px #DC5C5C;
	border-color: #DC5C5C;
}
.action-item-edit-container{
		@include grayed-panel;
		border: none;
		padding: 0px 5px 0px 5px;
		.action-item-edit{						
				margin: 5px 0px 5px 0px;
				.field-validation-error
				{
					padding-left: 53px;
					font-size: 12px;
				}
				.form_input{
					display: inline;
					width: 135px;
				}
				.action-item-name{
					width: 135px;
				}		
				#user-picker-title,label{
					font-weight:bold;
					font-size:12px;
					width:50px;
					display: inline-block;
				}
		}
		.btn{
			float: right;
			margin-right: 5px;
		}
}
.user-picker-control{    	
	[data-provide]{
		width: 120px;
	}
	label{
		width:50px;
		}
}

#key-results-accordion{
	a[data-toggle="collapse"]{
	
	}
}

/*--------------------------------------------------------	FEEDS 	------------------	*/

#NewFeed{
	width: 85%;
	
}

#post-feed{
	background-color: #515B5E;	
	padding:5px 5px 5px 5px;
}
/*--------------------------------------------------------  MISC	------------------	*/

label{
	font-weight: bold;
	display: inline-block;
}

.span8{
	max-height: 300px;
	overflow: auto;
}

.image-smaller
{
	padding: 2px 2px 2px 2px;
}

ul{
	margin-left:10px;
}