.modal-body {
  max-height: 450px; }
  .modal-body button {
    float: right; }

.modal-footer a {
  float: right;
  margin: 5px 25px 0px 0px;
  cursor: pointer; }
.modal-footer button {
  float: right; }

#addUserForm {
  height: 300px; }

.form-horizontal .input-append {
  display: block; }

.status-toolbar {
  float: right;
  padding-right: 20px; }

#add-user-button {
  margin-left: 437px; }

.msg_Success {
  margin-left: 437px;
  margin-bottom: 25px;
  display: none; }

