$panel-margin: 90px;

.dates{
		padding-top:5px;
		color: #BBB;
		font-size: small;
		p{
			margin: 0px;
		}
}

.review-info{
	.avatar{
		margin: 0px 10px 0px 5px;
		float:left;
	}
	h5{
		margin: 10px 0px 5px 0px;		
	}	
}

.answer{
	margin-top: 15px;
	.title{
		margin-left:5px;
	}
	.answer-content{
		margin-left:5px;
	}
}

.btn-group{
	width:100%;
	button{
		float: right;
		margin-bottom:5px;
	}
}

#activity_stats{
	margin-bottom:10px;
}

#back-to-summary{
	margin-left: 10px;
	display: none;
}

.panel{
	display:none;
	margin-left: $panel-margin;
	margin-top: 15px;

	.subpanel{
		margin-top:15px;
	}
}

#objectives{	
	width:80%;
	float:left;
	.title{
	border-bottom: solid 1px #cdd1d3;
	box-shadow: 0px 1px 0px 0px #fff;
	-webkit-box-shadow: 0px 1px 0px 0px #fff;
	
	}
	.objective{
		margin-top:15px;
		margin-left:-20px;		
	}
	.progress{
		border : 1px solid black;
	}
	.subpanel{
		clear:left;	
		margin-bottom:25px;
	}
}

.no-items{
	margin-top:15px;
}

#kudos{
	margin-left:60px;
	.kudos-badge{
		float:left;
		margin-right:15px;
	}
	.kudos{
		margin-top:15px;
		.kudos-message{
			padding-left:15px;			
		}
	}
}