.dates {
  padding-top: 5px;
  color: #BBB;
  font-size: small; }
  .dates p {
    margin: 0px; }

.review-info .avatar {
  margin: 0px 10px 0px 5px;
  float: left; }
.review-info h5 {
  margin: 10px 0px 5px 0px; }

.answer {
  margin-top: 15px; }
  .answer .title {
    margin-left: 5px; }
  .answer .answer-content {
    margin-left: 5px; }

.btn-group {
  width: 100%; }
  .btn-group button {
    float: right;
    margin-bottom: 5px; }

#activity_stats {
  margin-bottom: 10px; }

#back-to-summary {
  margin-left: 10px;
  display: none; }

.panel {
  display: none;
  margin-left: 90px;
  margin-top: 15px; }
  .panel .subpanel {
    margin-top: 15px; }

#objectives {
  width: 80%;
  float: left; }
  #objectives .title {
    border-bottom: solid 1px #cdd1d3;
    box-shadow: 0px 1px 0px 0px #fff;
    -webkit-box-shadow: 0px 1px 0px 0px #fff; }
  #objectives .objective {
    margin-top: 15px;
    margin-left: -20px; }
  #objectives .progress {
    border: 1px solid black; }
  #objectives .subpanel {
    clear: left;
    margin-bottom: 25px; }

.no-items {
  margin-top: 15px; }

#kudos {
  margin-left: 60px; }
  #kudos .kudos-badge {
    float: left;
    margin-right: 15px; }
  #kudos .kudos {
    margin-top: 15px; }
    #kudos .kudos .kudos-message {
      padding-left: 15px; }

