.answer {
  padding-bottom: 15px; }

footer button {
  margin-left: 15px;
  float: right; }
footer #answers-saved {
  float: right;
  margin-top: 0px;
  display: none; }

.markItUpEditor {
  padding: 5px 5px 5px 30px !important;
  height: auto !important; }

