.ui-widget-content {
  background-color: transparent; }

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  background-color: transparent; }

.ui-widget-content {
  background: none; }

.add-on {
  color: red;
  font-weight: bold;
  margin-left: 15px; }

#login {
  width: 520px; }
  #login .input-append {
    width: auto; }
  #login footer a {
    padding: 10px 15px 0px 0px;
    color: #9eaeb3; }
  #login #profile .validation-summary-errors {
    width: 470px; }
  #login #profile label {
    width: 155px;
    display: inline-block;
    text-align: right;
    line-height: 15px;
    font-size: 14px;
    color: #9eaeb3;
    font-family: Arial, Helvetica, sans-serif; }
  #login #inviteOthers .appendix {
    border: none;
    background: url(../images/login_input_b.png) repeat-x top center;
    text-shadow: none; }

