#tabs input[data-type="date"] {
  width: 6.9em; }
#tabs .form_fields_container li div.form_input {
  width: 70%; }
#tabs .horizontal .form_input {
  margin-left: 0.3em; }
#tabs .horizontal .form_input {
  display: inline;
  width: 50%;
  float: none; }

.accordion {
  margin-bottom: 0px; }

.question-set {
  margin-bottom: 15px;
  background: #E4E4E4;
  border: solid 1px #CCC;
  padding: 5px; }
  .question-set .no-questions {
    float: right;
    font-style: italic; }

#step2 .create-question-link {
  margin-bottom: 10px;
  float: right;
  color: White; }
#step2 hr {
  border-bottom: 1px solid #CCC;
  margin: 0px; }
#step2 .accordion-heading .accordion-toggle {
  display: inline-block; }
#step2 .question {
  width: 500px;
  padding: 10px 0px 10px 0px;
  clear: both; }
  #step2 .question .question-text {
    padding-top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    word-break: break-all; }
  #step2 .question .question-number {
    font-size: 12px; }
  #step2 .question .question-actions {
    float: right; }
    #step2 .question .question-actions a {
      padding-right: 15px; }
  #step2 .question p {
    padding-top: 15px; }
#step2 .info-text {
  color: Black;
  padding-left: 5px;
  font-style: italic; }

#create-question-modal, #edit-question-modal {
  width: 1050px;
  word-break: break-all;
  overflow: auto; }
  #create-question-modal .form_input, #edit-question-modal .form_input {
    background-color: transparent; }
    #create-question-modal .form_input textarea, #edit-question-modal .form_input textarea {
      width: 90% !important; }
  #create-question-modal .question-new .question, #edit-question-modal .question-new .question {
    border-right: 1px solid #CCC; }
    #create-question-modal .question-new .question li, #edit-question-modal .question-new .question li {
      padding: 10px 0px 10px 0px; }
  #create-question-modal .question-new #preview-content, #edit-question-modal .question-new #preview-content {
    padding-top: 15px;
    width: 500px;
    overflow: auto;
    word-break: break-all; }
  #create-question-modal .modal-footer a, #edit-question-modal .modal-footer a {
    cursor: pointer;
    padding-right: 15px; }

#step3 .contributor {
  width: 250px; }
#step3 .form_input {
  display: inline-block; }
#step3 .individuals-picker {
  clear: both; }
#step3 .review-everyone {
  float: right; }
#step3 .user-picker-control {
  padding-bottom: 15px; }

