#tabs{
	input[data-type="date"] {
		width:6.9em;
	}
	.form_fields_container li div.form_input
	{
		width:70%;
	}

	.horizontal{
		.form_input{
			margin-left:0.3em;
		}
		.form_input{
			display: inline;
			width:50%;
			float:none;
		}
	}	
}

//step2
.accordion {
	margin-bottom: 0px;
}
.question-set{
	margin-bottom: 15px;
	background: #E4E4E4;
	border: solid 1px #CCC;	
	padding:5px;
	.no-questions{
		float: right;
		font-style: italic;
	}
}

#step2{
	.create-question-link{
		margin-bottom:10px;
		float: right;
		color: White;
	}
	hr{
			border-bottom: 1px solid #CCC;
			margin:0px
	}	
	.accordion-heading .accordion-toggle {
		display: inline-block;
	}
	.question{	
		width:500px;
		padding: 10px 0px 10px 0px;
		clear:both;

		.question-text{
			padding-top:10px;
			overflow-x: hidden;
			overflow-y: auto;
			word-break: break-all;
		}
		.question-number{
			font-size:12px;
		}
		.question-actions{
			float:right;
			a{				
				padding-right:15px;
			}
		}
		p{
			padding-top: 15px;
		}
	}
	.info-text{
		color: Black;
		padding-left:5px;
		font-style: italic;
	}	
}

#create-question-modal,#edit-question-modal{
	width: 1050px;
	word-break:break-all;
	overflow: auto;
	.form_input{
		background-color: transparent;
		textarea{
			width:90% !important;
		}
	}
	.question-new{
		.question{
			border-right: 1px solid #CCC;
			li{
				padding: 10px 0px 10px 0px;
			}
		}
		#preview-content{
			padding-top:15px;
			width:500px;
			overflow: auto;
			word-break: break-all;
		}
	}
	.modal-footer{
		a{
			cursor: pointer;
			padding-right:15px;
		}
	}
}
//step3
#step3{
	.contributor{
		width:250px;
	}
	.form_input{
		display: inline-block;
	}
	.individuals-picker{
		clear: both;		
	}
	.review-everyone{
		float: right;
	}
	.user-picker-control{
		padding-bottom:15px;
	}
}
