/*	-----------------------------------------------------------	DEFINITIONS		---------------------------------------------     */
/*	-----------------------------------------------------------	SCAFFOLDING		---------------------------------------------     */
.widget {
  margin-top: 0px; }

.widget_body {
  width: 100%; }

.ui-widget {
  font-family: Verdana, Arial, sans-serif; }

.fourty_p_wrap {
  width: 40%;
  float: left; }

/*	-----------------------------------------------------------	HEADER		---------------------------------------------     */
/*#quick_actions{
	a{
		margin: 0px 15px 10px 0px;	
	}	
}*/
#activity_stats .btn {
  margin-bottom: 10px; }

.modal-header {
  border-bottom: none !important; }

.notification-popup-model {
  clear: both;
  padding-bottom: 10px; }
  .notification-popup-model .avatar {
    float: left;
    padding-top: 5px; }

#company-settings-link {
  float: right;
  padding-right: 15px;
  padding-top: 10px;
  color: #f5f5f5;
  text-decoration: underline; }

/*-----------------------------------------------------------FORMS	-----------------------------------------------------------*/
.form_fields_container li div.form_input input,
.form_fields_container li div.form_input textarea {
  width: inherit; }

.form_fields_container li div.form_input input[type="radio"] {
  width: auto; }

.input-append {
  width: 360px; }

.in_submitted {
  background-image: url(../Content/themes/base/images/Tick.png) !important;
  background-repeat: no-repeat !important;
  background-position: right center !important;
  box-shadow: 0px 0px 3px 0px #A6E259 !important;
  -webkit-box-shadow: 0px 0px 3px 0px #A6E259 !important;
  border-color: #A6E259 !important; }

.appendix {
  display: inline-block;
  width: auto;
  height: 20px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  background-color: #eee;
  border: 1px solid #ccc; }

.file-upload input[type="file"] {
  display: none; }

/*---------------------------------------------------------- VALIDATION -----------------------------------------------------*/
.validation-summary-errors {
  border: 1px solid #dd3c10;
  line-height: 15px;
  margin: 15px 0 15px 0;
  text-align: center;
  overflow: hidden;
  padding: 5px 8px 4px 8px;
  background-color: #DC5C5C;
  color: white;
  text-align: center;
  font-size: 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  clear: both; }
  .validation-summary-errors ul li {
    background-color: #DC5C5C !important; }

.in_error {
  background-image: url(../Content/themes/base/images/Remove.png) !important;
  background-repeat: no-repeat !important;
  background-position: right center !important;
  box-shadow: 0px 0px 3px 0px #DC5C5C !important;
  -webkit-box-shadow: 0px 0px 3px 0px #DC5C5C !important;
  border-color: #DC5C5C !important; }

.field-validation-error {
  color: #8E0F15; }

/*-----------------------------------------------------------IMAGES	-----------------------------------------------------------*/
.thumbnail {
  display: inline-block;
  padding: 0px; }
  .thumbnail img {
    display: inline-block; }

.image-medium {
  width: 100px;
  height: 100px; }

.image-small {
  width: 79px;
  height: 79px; }

.image-smaller {
  width: 50px;
  height: 50px; }

.image-smallest {
  width: 30px;
  height: 30px; }

/*-----------------------------------------------------------USER PICKER	-----------------------------------------------------------*/
.contributor button {
  padding-top: 15px; }

/*-----------------------------------------------------------TYPEAHEAD	-----------------------------------------------------------*/
.typeahead {
  z-index: 1051; }

/*-----------------------------------------------------------TIPSY	-----------------------------------------------------------*/
.tipsy {
  padding: 5px;
  font-size: 11px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-repeat: no-repeat;
  /*background-image: url('/Content/themes/base/images/tipsy.gif'); */ }

.tipsy-arrow {
  background-image: none; }

.tipsy-inner {
  padding: 5px 8px 4px 8px;
  background-color: #DC5C5C;
  color: white;
  max-width: 200px;
  text-align: center;
  font-size: 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.tipsy-north {
  background-position: top center; }

.tipsy-south {
  background-position: bottom center; }

.tipsy-east {
  background-position: right center; }

.tipsy-west {
  background-position: left center; }

.ui-tooltip-content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0px 0px 0px 0px; }

/*-----------------------------------------------------------	FEEDS & COMMENTS-----------------------------------------------------------*/
.comment-section {
  margin-left: 60px;
  color: white; }
  .comment-section .comment {
    background-color: #515b5e;
    min-height: 50px;
    margin-top: 5px;
    /*
    .content{
    	padding: 7px 0px 3px 0px;						
    }*/ }
    .comment-section .comment .names {
      font-size: 10px; }
    .comment-section .comment .avatar-container {
      float: left;
      padding: 7px 7px 7px 7px;
      min-height: 30px; }
      .comment-section .comment .avatar-container .thumbnail {
        float: left; }

.new-comment {
  display: none;
  padding: 5px 0px 5px 0px;
  clear: left !important; }
  .new-comment input {
    width: -moz-calc(100% - 75px);
    width: -webkit-calc(100% - 75px);
    width: calc(100% - 75px);
    max-width: 90%; }

.feed {
  min-height: 80px;
  padding-top: 10px; }
  .feed .avatar-container {
    float: left;
    padding: 7px 7px 7px 7px;
    min-height: 80px; }
  .feed .comment-link {
    color: blue;
    margin: 0px 4px 0px 4px; }
  .feed .like-link {
    color: blue;
    margin: 0px 4px 0px 4px; }

.feed-content {
  padding-top: 2px;
  line-height: 2;
  min-height: 60px; }
  .feed-content .property-key {
    color: #888888;
    min-width: 70px;
    display: inline-block; }
  .feed-content .property-value {
    color: #333333; }

.feed-footer {
  font-size: 10px;
  padding: 4px 0px 4px 0px; }
  .feed-footer span {
    color: #888888; }

/*	-----------------------------------------------------------OBJECTIVES	-----------------------------------------------------------*/
.objective-simple-display {
  background: #E4E4E4;
  color: #000000;
  border: solid 1px #CCC; }
  .objective-simple-display img {
    margin: 5px; }
  .objective-simple-display .name, .objective-simple-display .add-to-focus {
    padding-top: 20px; }
  .objective-simple-display .due {
    padding: 0px 5px 20px 25px;
    background-color: #515b5e;
    color: White;
    border-radius: 3px; }

/*	-----------------------------------------------------------MISC	-----------------------------------------------------------*/
#login {
  width: 310px; }

#company-name {
  color: #f5f5f5;
  float: left;
  padding-top: 15px;
  padding-left: 10px;
  height: 25px;
  position: relative; }

#activity_stats {
  margin-bottom: 5px; }
  #activity_stats h4 {
    margin: 0px 0px 5px 0px; }

.red-star {
  color: red;
  display: inline-block;
  padding-top: 5px; }

.title {
  font-weight: bold; }

