/*	-----------------------------------------------------------	DEFINITIONS		---------------------------------------------     */

@mixin grayed-panel{
	background: #E4E4E4;
	color: #000000;
	border: solid 1px #CCC;	
}

$dark : #515B5E;
$font-family: Verdana, Arial, sans-serif;
$primary-color :#333333;
$secondary-color: #888;
$secondary-font-size: 10px;
//$left-pad-from-avatar : 65px;

$feed-height: 80px;

@mixin link{
	color: blue;
	margin: 0px 4px 0px 4px;  
}


/*	-----------------------------------------------------------	SCAFFOLDING		---------------------------------------------     */
.widget {
    margin-top: 0px;
}

.widget_body{
	width:100%;
}

.ui-widget {
    font-family: $font-family;
}

.fourty_p_wrap {
    width:40%;
	float:left;
}

/*	-----------------------------------------------------------	HEADER		---------------------------------------------     */
/*#quick_actions{
	a{
		margin: 0px 15px 10px 0px;	
	}	
}*/

#activity_stats{
	.btn{
		margin-bottom:10px;
	}
}

.modal-header {
	border-bottom: none !important;
}

.notification-popup-model{
    clear: both;
	padding-bottom:10px;

	 .avatar{
		float:left;
		padding-top:5px;
	 }
	 div{
		
	}
}

#company-settings-link{
	float: right;
	padding-right: 15px;
	padding-top: 10px;
	color: #f5f5f5;
	text-decoration: underline;
}

/*-----------------------------------------------------------FORMS	-----------------------------------------------------------*/

.form_fields_container li div.form_input input, 
.form_fields_container li div.form_input textarea {
	width: inherit;	
}

.form_fields_container li div.form_input input[type="radio"]{
   width: auto;
}

.input-validation-error {
  
}

.input-append {
    width: 360px;
}


.in_submitted {
	background-image: url(../Content/themes/base/images/Tick.png) !important;
	background-repeat: no-repeat !important;
	background-position: right center !important;
	box-shadow: 0px 0px 3px 0px #A6E259 !important;
	-webkit-box-shadow: 0px 0px 3px 0px #A6E259 !important;
	border-color: #A6E259 !important;
}

.appendix
{ 
  display:inline-block;
  width:auto;
  height:20px;
  min-width:16px;
  padding:4px 5px;
  font-size:14px;
  font-weight:normal;
  line-height:20px;
  text-align:center;
  text-shadow:0 1px 0 #fff;
  background-color:#eee;
  border:1px solid #ccc;
}

.file-upload{
	input[type="file"]
	{
		display: none;
	}
	a{	
	
	}
}


/*---------------------------------------------------------- VALIDATION -----------------------------------------------------*/

.validation-summary-errors{
	border: 1px solid #dd3c10;
	line-height: 15px;
	margin: 15px 0 15px 0;
	text-align: center;
	overflow: hidden;
	padding: 5px 8px 4px 8px; 
	background-color: #DC5C5C; 
	color: white; 	
	text-align: center;
	font-size: 12px;  
	-moz-border-radius:3px; 
	-webkit-border-radius:3px; 
	clear: both;
	
	ul{
		li {
			background-color: #DC5C5C !important;
		}
	}
}
 .in_error 
{
	background-image: url(../Content/themes/base/images/Remove.png) !important;
	background-repeat: no-repeat !important;
	background-position: right center !important;
	box-shadow: 0px 0px 3px 0px #DC5C5C !important;
	-webkit-box-shadow: 0px 0px 3px 0px #DC5C5C !important;
	border-color: #DC5C5C !important;
}


.field-validation-error
{
    color:#8E0F15;
}
/*-----------------------------------------------------------IMAGES	-----------------------------------------------------------*/
.thumbnail{
display: inline-block;
padding: 0px;
 img{
	display: inline-block;
 }
}

.image-medium
{
	width:100px;
	height:100px;
}

.image-small {
    width: 79px;
    height: 79px;
}

.image-smaller {
    width: 50px;
    height: 50px;
}

.image-smallest {
    width: 30px;
    height: 30px;
}	
/*-----------------------------------------------------------USER PICKER	-----------------------------------------------------------*/
.contributor{
	button{
		padding-top:15px;
	}
}
/*-----------------------------------------------------------TYPEAHEAD	-----------------------------------------------------------*/
.typeahead {
	z-index:1051;
}
/*-----------------------------------------------------------TIPSY	-----------------------------------------------------------*/
.tipsy { 
  padding: 5px; 
  font-size: 11px; 
  opacity: 0.8; 
  filter: alpha(opacity=80); 
  background-repeat: no-repeat; 
  /*background-image: url('/Content/themes/base/images/tipsy.gif'); */
} 

.tipsy-arrow {
    background-image: none;
}

.tipsy-inner { 
  padding: 5px 8px 4px 8px; 
  background-color: #DC5C5C; 
  color: white; 
  max-width: 200px; 
  text-align: center;
  font-size: 12px;  
  -moz-border-radius:3px; 
  -webkit-border-radius:3px; 
} 

.tipsy-north { 
  background-position: top center; 
} 

.tipsy-south { 
  background-position: bottom center; 
} 

.tipsy-east { 
  background-position: right center; 
} 

.tipsy-west { 
background-position: left center; 
}

.ui-tooltip-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0px 0px 0px 0px;
}

/*-----------------------------------------------------------	FEEDS & COMMENTS-----------------------------------------------------------*/
.comment-section{	
	margin-left: 60px;
	color: white;
	.comment {
		background-color: $dark;
		min-height: 50px;    
		margin-top: 5px;
		/*
		.content{
			padding: 7px 0px 3px 0px;						
		}*/
		.names{
			font-size: $secondary-font-size;
		}
		.avatar-container {
			float: left;
			padding: 7px 7px 7px 7px; 
			min-height: 30px;
			.thumbnail{
				float:left;
			}
		}
	}
}
.new-comment{
	display: none;
	padding: 5px 0px 5px 0px ;	
	clear:left !important;

	input{		
		width: -moz-calc(100% - 75px);
		width: -webkit-calc(100% - 75px);
		width: calc(100% - 75px);
		max-width: 90%;
	}
}

.feed {
    min-height: $feed-height;    
    padding-top: 10px;

	.avatar-container {
	    float: left;
		padding: 7px 7px 7px 7px; 
		min-height: $feed-height;
	}
	.comment-link{
		@include link
	}
	.like-link{
		@include link
	}
}

.feed-content {
   padding-top: 2px;
   line-height: 2;
   min-height: 60px;

   .property-key{
		color: $secondary-color;		
		min-width: 70px;
		display: inline-block;		
	}
	.property-value{
		color: $primary-color;
	}
}

.feed-footer {
	font-size: $secondary-font-size;
    padding: 4px 0px 4px 0px;
	//$left-pad-from-avatar;
	span {
		color: $secondary-color;
	}
}

/*	-----------------------------------------------------------OBJECTIVES	-----------------------------------------------------------*/

.objective-simple-display{
	@include grayed-panel;
	img{
		margin: 5px;
	}
	.name,.add-to-focus{
		padding-top:20px;
	}
	.due{		
		padding: 0px 5px 20px 25px;	
		background-color: $dark;	
		color: White;
		border-radius: 3px;		
	}
}

/*	-----------------------------------------------------------MISC	-----------------------------------------------------------*/

#login{
width:310px;
}

#company-name { 
    color: #f5f5f5;
    float: left;
    padding-top: 15px;
    padding-left: 10px;
    height: 25px;
    position: relative;
}

#activity_stats {
    margin-bottom: 5px;
	h4{
		margin: 0px 0px 5px 0px;
	}
}

.red-star{
	color:red;
	display: inline-block;
	padding-top:5px;
}

.title{
 font-weight: bold;
}