div.form_input{
	display: inline-block;
	margin-bottom: 15px;
	input[type="text"]{
		width: 255px;
	}
}

div.msgbar{
	margin-top: 0px;
	display:none;
}

.team{
	padding-top: 15px;
	border-bottom: solid 1px #dcdfe0;
	line-height: 100%;
	box-shadow: inset 0px 1px 0px #ffffff;

	.contributor{
		width: 250px;
	}
}

.team[readonly] .contributor button{
	display: none;
}

.manager{


}