$row-margin : 0px 15px 0px 15px;
$tab-width : 80%;
$tabs-color:#ebebeb;

@mixin tabs-background{
	background:none;
	background-color:$tabs-color;
}
.widget{
@include tabs-background;
}

#tabs{
	@include tabs-background;
	.ui-tabs, 
	.ui-tabs-nav, 
	.form_input,
	.form_fields_container, 
	.form_fields_container li,
	.ui-widget-content{
		@include tabs-background;
	}	

	footer{
		a,button{	
			margin-left: 15px;
		}	
	}
}

#wizard, #step1, #step2, #step3, #step4{
  width:$tab-width;
}
#step1, #step2, #step3, #step4{
	a{
		color: #0088cc;
	}
}

.form_fields_container > li > label {
   margin: 0px;
}

.form_fields_container label {
	padding: 5px 0px;
	float: left;
	display: block;
	margin: 0px 0px 0px 0px;
	color: #818386;
}
