.widget {
  background: none;
  background-color: #ebebeb; }

#tabs {
  background: none;
  background-color: #ebebeb; }
  #tabs .ui-tabs,
  #tabs .ui-tabs-nav,
  #tabs .form_input,
  #tabs .form_fields_container,
  #tabs .form_fields_container li,
  #tabs .ui-widget-content {
    background: none;
    background-color: #ebebeb; }
  #tabs footer a {
    padding-right: 15px; }

#wizard, #step1, #step2, #step3, #step4 {
  width: 80%; }

#step1 a, #step2 a, #step3 a, #step4 a {
  color: #0088cc; }

.form_fields_container > li > label {
  margin: 0px; }

.form_fields_container label {
  padding: 5px 0px;
  float: left;
  display: block;
  margin: 0px 0px 0px 0px;
  color: #818386; }

