﻿ @using Resource = TalentManagement.Resources.Models.MyFeedbacks.IndexModel
 @using ViewResource = TalentManagement.Resources.Views.MyFeedbacks.Index
 
 @model TalentManagement.Web.Models.MyFeedbacks.FeedbackCreateModel
            
 @RazorHelpers.ModalDialog("ask-feedback-modal", Resource.AskFeedback,
                                @<text>
                                     <div>@ViewResource.WhatToAsk</div>
                                     @Html.TextAreaStyledFor(m => Model.Question,new { rows="2"},true)
                                     @Html.UserPicker(m => m.Participant,Model.Users)
                                 </text>,
                                @<text>
                                     <a data-dismiss="modal" aria-hidden="true">@UI.Close</a>
                                     <a role="button" id="create-feedback" class="btn btn-primary" href="#">@UI.Send</a>
                                 </text>)