﻿@using Resource = TalentManagement.Resources.Models.MyFeedbacks.IndexModel
@model TalentManagement.Web.Models.MyFeedbacks.IndexModel
           
@helper RenderFeedbacks(Array feedbacks, string emptyCollectionMessage)
    {
        if (feedbacks.Length > 0)
        {
            foreach (var feedback in feedbacks)
            {
                @Html.DisplayFor(m => feedback)
            }
        }
        else
        {
            <span class="title">@emptyCollectionMessage</span>
        }
}

<div id="feedbacks">
    @if (Model.ActiveButton == Resource.RequiredAttention)
    {
        @RenderFeedbacks(Model.FeedbacksAttentionRequired,Resource.NoRequiredAttention)
    }
    @if (Model.ActiveButton == Resource.YouRequested)
    {
        @RenderFeedbacks(Model.FeedbacksYouRequested,Resource.NoYouRequested)
    }
    @if (Model.ActiveButton == Resource.TheyRequested)
    {
        @RenderFeedbacks(Model.FeedbacksTheyRequested, Resource.NoTheyRequested)
    }
    @if (Model.ActiveButton == Resource.Details)
    {
        @Html.DisplayFor(m => Model.Details)
    }
</div>