﻿ @using Resource = TalentManagement.Resources.Models.MyFeedbacks.IndexModel
 @using ViewResource = TalentManagement.Resources.Views.MyFeedbacks.Index
 
 @model TalentManagement.Web.Models.MyFeedbacks.IndexModel

<div id="activity_stats">
    <div data-toggle="buttons-radio" class="btn-group">
        @Html.ActivationButton(Resource.RequiredAttention, new { id = "required-attention",type="submit" })
        @Html.ActivationButton(Resource.YouRequested, new { id = "you-requested",type="submit" })
        @Html.ActivationButton(Resource.TheyRequested, new { id = "they-requested",type="submit" })
    </div>
    <span class="fl_right">
        <a href="#ask-feedback-modal" role="button" class="btn btn-primary" data-toggle="modal">@Resource.AskFeedback</a>
        <a href="#say-kudos-modal" role="button" class="btn btn-primary" data-toggle="modal">@Resource.SayKudos</a>

       @Html.Partial("_CreateDialog",Model.FeedbackCreateModel)
       @Html.Partial("_KudosDialog",Model.KudosCreateModel)
    </span>
</div>

