﻿ @using Resource = TalentManagement.Resources.Models.MyFeedbacks.KudosCreateModel
 @model TalentManagement.Web.Models.MyFeedbacks.KudosCreateModel
            
 @RazorHelpers.ModalDialog("say-kudos-modal", Resource.Title,
                                @<text>
                                     <article>
                                         @Html.UserPickerForModel(false,false)
                                         
                                         <div style="clear: both">
                                             <section id="kudos-generic-properties">
                                                 
                                                 <div class="title">@Html.Raw(@Resource.WhyToPrise)</div>

                                                 <div class="current-badge-container">
                                                     <span id="kudos-current-badge">@RazorHelpers.Badge(Model.CurrentBadgeId,ImageSize.Smaller)</span>
                                                     @Html.HiddenFor(m => m.CurrentBadgeId)    
                                                     <a href="#" id="kudos-change-badge">@Html.Raw(@Resource.ChangeBadge)</a>
                                                 </div>
                                                     
                                                 <span>@Html.TextAreaStyledFor(m => m.Kudos,new Dictionary<string, object>{{"rows","3"},{"cols","25"}},true)</span>
                                               
                                             </section>
                                             <section class="badges">
                                                 @foreach(var badgeId in Model.BadgeIds)
                                                 {
                                                     var css = badgeId == Model.CurrentBadgeId ? "badge-selected" : String.Empty;
                                                     @RazorHelpers.Badge(badgeId, ImageSize.Smaller,css)
                                                 }
                                                 <a id="kudos-back" href="#">@TalentManagement.Resources.UI.Back</a>
                                             </section>
                                         </div>
                                     </article>
                                 </text>,
                                @<text>
                                     <a data-dismiss="modal" aria-hidden="true">@TalentManagement.Resources.UI.Close</a>
                                     <a role="button" id="kudos-post" class="btn btn-primary" href="@Url.Action("CreateKudos","MyFeedbacks")">@TalentManagement.Resources.UI.Post</a>
                                 </text>)