﻿@model TalentManagement.Web.Models.MyFeedbacks.IndexModel
@{
    ViewBag.Title = TalentManagement.Resources.Views.MyFeedbacks.Index.Title;
}

@section Head
{
   @Html.Bundles()
   
   <script type="text/javascript">
       var urls = {
           feedbacks: function () {
               return '@Url.RouteUrl(new { action="Feedbacks",controller="MyFeedbacks",id = String.Empty})';
           },
           commentTheirFeedback: function () {
               return '@Url.Action("CommentTheirFeedback")';
           },
           refreshUserPicker: function () {
               return '@Url.Action("RefreshUserPicker")';
           },
           createFeedback: function () {
               return '@Url.Action("CreateFeedback")';
           },
           index: function () {
               return '@Url.Action("Index")';
           },
           commentMyFeedback: function () {
               return '@Url.Action("CommentMyFeedback")';
           },
           addResponse: function () {
               return '@Url.Action("AddResponse")';
           }
       }
        </script>
}

<div class="widget_body fl_left">
    @Html.Partial("_Header",Model)
    @Html.Partial("_Feedbacks",Model)
</div>
