﻿@using Resource = TalentManagement.Resources.Models.ReviewCycleCreation.QuestionModel
@using UiResource = TalentManagement.Resources.UI;
@using TalentManagement.Web.Models.ReviewCycleCreation
@model QuestionModel

<article class="question">
    <div>
        <span class="question-number">@Html.Raw(Model.NumberAsText)</span>
        <span class="question-actions">
            @Html.ActionLink(UiResource.Edit, "ShowEditModal", null, new { @class = "question-edit" })
            @Html.ActionLink(UiResource.Delete,"DeleteQuestion",null,new { @class="question-delete"})
        </span>
        <div class="question-text">@Model.Text</div>
    </div>
    @Html.HiddenFor(m => m.Number)
    @Html.HiddenFor(m => m.Settings)
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.AnswerType)
    @Html.HiddenFor(m => m.SetType)
    @Html.HiddenFor(m => m.Text)
</article>