﻿@using TalentManagement.Web.Models.Teams;
@model TeamModel
           
<article data-team-id="@Model.Id" class="team" data-manager="@Model.Manager.Id" data-expanded="@Model.IsExpanded">
    
    <div class="row">
        <div class="span3">
            @Html.TextBoxStyledFor(m => m.Name)
            <div class="msgbar msg_Success hide_onC" id="updated_@(Model.Id)">
                <span class="iconsweet">=</span><p>@TalentManagement.Resources.Models.Teams.IndexModel.NameUpdated</p>
            </div>
        </div>
        <div class="span3">
            @Html.DisplayFor(m => m.Manager)
        </div>
    </div>
    
    <div class="accordion" id="@Model.Id">
        @{string itemId = String.Format("collapse_{0}",Model.Id);}
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#@Model.Id" href="#@itemId">
                    Members. Click to expand/collapse
                </a>
            </div>
            <div id="@itemId" class='accordion-body collapse @(Model.IsExpanded ? "in" : "")'>
                <div class="accordion-inner">
                    @Html.UserPickerForModel(true,true,Model.Members,Model.Id.ToString())
                </div>
            </div>
        </div> 
    </div>
</article>