﻿@using TalentManagement.Web.Models.MyAccount;
@model IndexModel

@{
    ViewBag.Title = @Html.LocalizedTextFor(m => m);
}

@section Head
{
    @Html.Bundles()
}

@using (Html.BeginForm("Index", "MyAccount", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <article class="row">
        <section>
            @Html.HiddenFor(m => m.UserId)
            <div>
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxStyledFor(m => m.FirstName)
            </div>
            <div>
                @Html.LabelFor(m => m.SecondName)
                @Html.TextBoxStyledFor(m => m.SecondName)
            </div>
            <div>
                @Html.LabelFor(m => m.Position)
                @Html.TextBoxStyledFor(m => m.Position)
            </div>
            <div>
                @Html.LabelFor(m => m.ManagerEmailUserName)
                <div class="input-append">
                    @Html.TextBoxStyledFor(m => m.ManagerEmailUserName)
                    @Html.AppendixBootstrap(Model.EmailAppendix)
                </div>
            </div>
            <div>
                @Html.LabelFor(m => m.ProfileImage)
                @Html.TextBoxFor(m => m.ProfileImage, new { type = "file" })
                <span name="filename"></span>
            </div>
        </section>
        <footer class="offset4">
            <button type="submit" class="btn btn-primary" >@UI.Update</button>
              <div id="saved" class="msgbar msg_Success hide_onC">
                  <span class="iconsweet">=</span>
                  <p>@TalentManagement.Resources.Models.MyAccount.IndexModel.AccountUpdated</p>
            </div>
        </footer>
    </article>
}