﻿@using Resource = TalentManagement.Resources.Models.Companies.BadgeModel
@model TalentManagement.Web.Models.Companies.BadgeModel
           
@RazorHelpers.ModalDialog(Model.GenerateHtmlId("viewBadge"), String.Empty,
                            @<text>@RazorHelpers.Badge(Model.BadgeId,ImageSize.Actual)
                            </text>)
                            
@RazorHelpers.ModalDialog(Model.GenerateHtmlId("editBadge"), String.Empty,
    @<text>@Html.Partial("EditorTemplates/BadgeModel", Model)
    </text>,
    @<text>
        <a data-dismiss="modal" aria-hidden="true">@TalentManagement.Resources.UI.Close</a>
         <a role="button" name="upsert-badge" class="btn btn-primary" href="@Url.Action("UpsertBadge")">
             @TalentManagement.Resources.UI.Create
         </a>
    </text>)

<li class="badge-view span2">
    <section href="#" class="thumbnail">
        @Html.HiddenFor(m => m.BadgeId)
        @Html.HiddenFor(m => m.IsEnabled)
        @RazorHelpers.Badge(Model.BadgeId, ImageSize.Medium)
    </section>
    <section class="caption">
    <p>@Html.Raw(Model.Description)</p>
    <p class="badge-view-action">
        <a href="#@Model.GenerateHtmlId("viewBadge")" role="button" data-toggle="modal">@Resource.View</a>
        <a href="#@Model.GenerateHtmlId("editBadge")" role="button" data-toggle="modal">@Resource.Edit</a>
        <a href="@Url.Action("EnableBadge")" class="badge-enable" >@Model.EnableAction</a>
    </p>
    </section>
</li>
