﻿@using TalentManagement.Web.Models.MyActionItems
@model ActionItemModel

<article>
    <div>@Html.WatermarkStyledFor(m => m.Name)</div>
    <div>@Html.WatermarkStyledFor(m => m.DueString,UiDataType.Date)</div>
</article>