﻿@using Resource = TalentManagement.Resources.Models.ReviewCycleCreation.QuestionModel
@using TalentManagement.Web.Models.ReviewCycleCreation
@model QuestionModel

<article class="question-new row">
    <div class="span5 question">
        <ul>
            <li>
                @Html.LabelFor(m => m.Text)
                @Html.TextAreaStyledFor(m => m.Text)
            </li>    
            <li>
                @Html.LabelFor(m => m.Settings)
                @Html.RadioButtonBootstrapForEnum(m => m.Settings,null,Model.Settings.ToString())
            </li>
            <li>
                @Html.LabelFor(m => m.AnswerType)
                @Html.RadioButtonBootstrapForEnum(m => m.AnswerType,null,Model.AnswerType.ToString())
            </li>
        </ul>
        <div class="modal-footer">
            <a data-dismiss="modal" aria-hidden="true">@UI.Cancel</a>
            @{
                string url = Model.IsEditMode ? @Url.Action("EditQuestion") : @Url.Action("AddQuestion");
            }
            <button type="button" class="btn btn-primary" data-href='@url'>@UI.Save</button>
        </div>
    </div>
    <div class="span5 preview">
        <span>@Html.Raw(Resource.Preview)</span>
        <div id="preview-content">
            
        </div>
    </div>
        @Html.HiddenFor(m => m.Number)
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.SetType)
</article>