﻿@model SiteMapNodeModel

@if (Model.IsCurrentNode || Model.IsInCurrentPath)
{
    <li class='@Model.GetMetaValue("css") active'>
        <a href="@Url.Action(Model.Action,Model.Controller)"  >@Model.Title</a>
    </li>
}
else if (Model.IsClickable)
{ 
    <li class='@Model.GetMetaValue("css")'>
        <a href="@Url.Action(Model.Action,Model.Controller)"  >@Model.Title</a>
    </li>
}
else
{ 
    <li>
        @Html.Raw(@Model.Title)
    </li>
}
