﻿@model SiteMapNodeModel

@if (Model.IsCurrentNode && Model.SourceMetadata["HtmlHelper"].ToString() == "MvcSiteMapProvider.Web.Html.MenuHelper")
{
    <li class="active">
        <a href="@Model.Url" >@Model.Title</a>
    </li>
}
else if (Model.IsClickable)
{ 
    <li>
        <a href="@Model.Url" >@Model.Title</a>
    </li>
}
else
{ 
    <li>
        @Html.Raw(@Model.Title)
    </li>
}
