﻿@model SiteMapNodeModel

@if (Model.IsCurrentNode && Model.SourceMetadata["HtmlHelper"].ToString() == "MvcSiteMapProvider.Web.Html.MenuHelper")
{
    <li class="active">
        <a href="@Url.Action(Model.Action,Model.Controller)" ><span class="iconsweet">@Model.GetMetaValue("icon")</span>@Model.Title</a>
    </li>
}
else if (Model.IsClickable)
{ 
    <li>
       <a href="@Url.Action(Model.Action,Model.Controller)"  ><span class="iconsweet">@Model.GetMetaValue("icon")</span>@Model.Title</a>
    </li>
}
else
{ 
    <li>
        @Html.Raw(@Model.Title)
    </li>
}
