﻿@using TalentManagement.Web.Models.Teams;
@model TeamModel
           
<article data-team-id="@Model.Id" class="team" readonly data-expanded="@Model.IsExpanded" >
    
    @Html.DisplayTextFor(m => m.Name)
    
    <div class="accordion" id="@Model.Id">
        @{string itemId = String.Format("collapse_{0}",Model.Id);}
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#@Model.Id" href="#@itemId">
                    Members. Click to expand/collapse
                </a>
            </div>
            <div id="@itemId" class='accordion-body collapse @(Model.IsExpanded ? "in" : "")'>
                <div class="accordion-inner">
                    @foreach (UserPicked user in Model.Members)
                    {
                        @Html.Partial("_UserPicked", user)
                    }
                </div>
            </div>
        </div> 
    </div>

</article>