﻿@using TalentManagement.Web.Models.MyCompanyObjectives
@using Resource = TalentManagement.Resources.Views.MyCompanyObjectives.Index
@model PageModel
           
@using (Html.BeginForm("Filter", "MyCompanyObjectives", FormMethod.Get))
{
    <div id="activity_stats">
        <span class="title">@Html.LabelFor(m => m.FilterByYear)</span>
        @Html.DropDownListFor(m => m.FilterByYear, new SelectList(Model.YearFilterItems, "Year", "Title", Model.FilterByYear))

        <span class="title">@Html.Raw(Resource.GroupBy)</span>
        <div class="btn-group" data-toggle="buttons-radio">
            @Html.ActivationButton(@Resource.DateRange)
            @Html.ActivationButton(@Resource.Person)
            @Html.ActivationButton(@Resource.Status)
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4 goto-links">
            <ul>
                @foreach (GotoLinkModel linkModel in Model.GotoLinks)
                {
                    <li>
                        <a href="#@linkModel.Reference">@linkModel.Text</a>
                    </li>
                }
            </ul>
        </div>
        <div class="span8">
            @foreach (ObjectiveGroupModel group in Model.ObjectiveGroups)
            {
                <div class="objective-group">
                    <span class="title">
                        <a href="#@group.Title" name="@group.Title">@Html.Raw(group.Title)</a>
                    </span>
                    @foreach (ObjectiveSimpleModel objective in group.Objectives)
                    {
                        @Html.DisplayFor(m => objective)
                    }
                </div>
            }
        </div>
    </div>
    @Html.HiddenFor(m => m.ShowAddToFocus)
}