﻿@using TalentManagement.Web.Models.MyCompanyObjectives
@using Resource = TalentManagement.Resources.Views.MyCompanyObjectives.Index
@model PageModel
@{
    ViewBag.Title = @Resource.Title;
}

@section Head
{
    @Html.Bundles()
    
    <script>
        $(function () {
            var objectives = new MyCompanyObjectives();
            objectives.initialize();
        });
    </script>
}

<div class="widget_body fl_left">
   @Html.Partial("_Objectives",Model)
 </div>
        