﻿@using TalentManagement.Web.Models.Feeds

@model FeedPageModel
@{
    ViewBag.Title = "Feeds";
}

@section Head
{
    @Html.Bundles()
}

<div id="activity_stats">
    <div id="quick_actions">
        <span class="title">@Html.Raw(TalentManagement.Resources.UI.FilterBy)</span>
        <div class="btn-group" data-toggle="buttons-radio">
            @Html.ActionLink("All Feeds","Filter",new {id = FilterType.Feed},new {@class = "btn"})
            @Html.ActionLink("My Objectives", "Filter", new { id = FilterType.FeedType }, new { @class = "btn" })
            @Html.ActionLink("My Team", "Filter", new { id = FilterType.OwnedByCompany }, new { @class = "btn" })
        </div>
    </div>
    
</div>

 @Html.Partial("_FeedsPanel",Model.Feeds)

