﻿@using TalentManagement.Web.Models.Teams;
@model IEnumerable<TeamModel>

<div id="teams">
    @foreach (TeamModel team in Model)
    {
        @(team.IsUnassigned ? Html.DisplayFor(m => team) : Html.EditorFor(m => team))
    }
</div>