﻿@using Resource = TalentManagement.Resources.Models.Teams.IndexModel;
@using TalentManagement.Web.Models.Teams;
@model IndexModel
      
@{
    ViewBag.Title = Resource.Title;
}

@section Head
{
    @Html.Bundles()
    
    <script>
        var urls = {
            setMembership: function () {
                return '@Url.Action("SetMembership")';
            },
            updateTeamName: function () {
                return '@Url.Action("UpdateTeamName")';
            }
        }
    </script>
}
<div class="widget_body fl_left">
    @Html.Partial("_Teams",Model.Teams)
</div>