﻿@using TalentManagement.Web.Models.MyActionItems
@model ActionItemsContainer

<article class="action-item-container">
    <h5>@Model.Title</h5>
    @if(Model.ActionItems.Any())
    {
        foreach (ActionItemModel actionItem in Model.ActionItems)
        {
            @Html.DisplayFor(m => actionItem)
        }
    }
    else
    {
        @Html.Raw(TalentManagement.Resources.UI.NoItems)
    }
</article>