﻿@using TalentManagement.Web.Models.MyActionItems
@using TalentManagement.Domain.Objectives
@using DomainResource = TalentManagement.Resources.DomainResources;
@using ModelResource = TalentManagement.Resources.Models.MyActionItems.IndexModel;
@using UiResource = TalentManagement.Resources.UI;
@model IndexModel
           
@{
    ViewBag.Title = "Index";
}

@section Head
{
    @Html.Bundles()
}

@helper FilterButton(string name, ActionItemStatus filterBy)
{
   @Html.ActivationButton(name, new { @type="button", @ref = Url.Action("Index", new {@id = filterBy }) })
}

<div class="widget_body fl_left">
    <div id="activity_stats">
        <span class="title">@UiResource.FilterBy</span>
        <div data-toggle="buttons-radio" class="btn-group">
            @FilterButton(DomainResource.InProgress, ActionItemStatus.InProgress)
            @FilterButton(DomainResource.NotStarted, ActionItemStatus.NotStarted)
            @FilterButton(DomainResource.Completed, ActionItemStatus.Completed)
        </div>
        <span class="fl_right">
            <a href="#new-action-item" role="button" class="btn btn-primary" data-toggle="modal">@ModelResource.NewActionItem</a>
        
            @RazorHelpers.ModalDialog("new-action-item", ModelResource.NewActionItem,
                                @<text>
                                     @Html.EditorFor(m => m.NewActionItem)                                        
                                 </text>,
                                @<text>
                                     <a data-dismiss="modal" aria-hidden="true">@UiResource.Cancel</a>
                                     <button ref="@Url.Action("CreateActionItem")" class="btn btn-primary" >@UiResource.Create</button>
                                 </text>)
        </span>
    </div>
    <div id="action-item-containers">
        @Html.Partial("_Containers",Model)
    </div>
</div>