﻿@using Resource = TalentManagement.Resources.Models.Companies.BadgeModel
@model TalentManagement.Web.Models.Companies.BadgeModel
           
 @using (Html.BeginForm("UpsertBadge", "Company"))
 {
     <article class="badge-editor">
         @Html.HiddenFor(m => m.BadgeId)
         @Html.HiddenFor(m => m.IsEnabled)
            <section>
             @Html.ValidationSummary()
         </section>
         <section>
             @Html.LabelFor(m => m.Title)
             @Html.TextBoxStyledFor(m => m.Title)
         </section>
         <section>
             @Html.LabelFor(m => m.Description)
             @Html.TextBoxStyledFor(m => m.Description)
         </section>
         <section>
             @Html.LabelFor(m => m.Image)
             <div class="form_input">
                 @Html.TextBoxFor(m => m.Image, new {type = "file", name = "files[]"})
                 <span id="chosen-file"></span>
                 <a class="btn btn-primary"  id="choose-file">Choose file</a>
             </div>
         </section>
     </article>
 }