﻿@model InvitationModel
           
@Html.ValidationSummary()

<div class="input_box input-append">
    @Html.WatermarkFor(m => m.Email1)
    @Html.Appendix(Model.EmailAppendix)
</div>
<div class="input_box input-append">
    @Html.WatermarkFor(m => m.Email2)
    @Html.Appendix(Model.EmailAppendix)
</div>
<div class="input_box input-append">
    @Html.WatermarkFor(m => m.Email3)
    @Html.Appendix(Model.EmailAppendix)
</div>
<div class="input_box input-append">
    @Html.WatermarkFor(m => m.Email4)
    @Html.Appendix(Model.EmailAppendix)
</div>
<div class="input_box input-append">
    @Html.WatermarkFor(m => m.Email5)
    @Html.Appendix(Model.EmailAppendix)
</div>

<footer>
    <input id="profile-finish" class="button_small" type="submit" value="@TalentManagement.Resources.UI.Finish" />
    <a href="@Url.Action("Index","Login")" class="fl_right">@Html.Raw(TalentManagement.Resources.UI.Cancel)</a>
</footer>


