﻿@model ProfileModel 
           
<div>
    @Html.ValidationSummary()
</div>
<div>
    @Html.LabelFor(m => m.Email)
<div class="input_box">
    @Html.TextBoxFor(m => m.Email)
    @Html.AppendixBootstrap("*")
</div>
</div>
<div>
    @Html.LabelFor(m => m.FirstName)
    <div class="input_box">
        @Html.TextBoxFor(m => m.FirstName)
         @Html.AppendixBootstrap("*")
    </div>
</div>
<div>
    @Html.LabelFor(m => m.SecondName)
     <div class="input_box">
    @Html.TextBoxFor(m => m.SecondName)
     @Html.AppendixBootstrap("*")
    </div>
</div>
<div>
    @Html.LabelFor(m => m.Password)
    <div class="input_box">
    @Html.PasswordFor(m => m.Password)
     @Html.AppendixBootstrap("*")
    </div>
</div>
<div>
    @Html.LabelFor(m => m.ConfirmPassword)
    <div class="input_box">
    @Html.PasswordFor(m => m.ConfirmPassword)
     @Html.AppendixBootstrap("*")
    </div>
</div>
<div>
    @Html.LabelFor(m => m.Position)
    <div class="input_box">
    @Html.TextBoxFor(m => m.Position)
    </div>
</div>
<div>
    @Html.LabelFor(m => m.ManagerEmail)
     <div class="input_box">
        @Html.TextBoxFor(m => m.ManagerEmail)
    </div>
</div>
<div>
    @Html.LabelFor(m => m.ProfileImage)
    @Html.FileFor(m => m.ProfileImage)
    
</div>
<div>
    @Html.LabelFor(m => m.InviteColleagues)
    @Html.CheckBoxFor(m => m.InviteColleagues)
</div>
<footer>
    <input id="profile-finish" class="button_small" type="submit" value="@TalentManagement.Resources.UI.Finish" />
    <input id="profile-next-step" class="button_small" type="submit" value="@TalentManagement.Resources.UI.NextStep" />
    <a href="@Url.Action("Index","Login")" class="fl_right">@Html.Raw(TalentManagement.Resources.UI.Cancel)</a>
</footer>


