﻿@using TalentManagement.Resources.Views.Registration
@model RegistrationModel 
           
@{
    ViewBag.Title = "Register";
}
@section Head
{
    @Html.Bundles()
    @Html.Partial("_WizardScript",Model)

}

@using(Html.BeginForm("Register","Registration",FormMethod.Post,new {enctype = "multipart/form-data",autocomplete="off"}))
{
    <div id="tabs">
        <ul>
            <li><a href="#profile">@Register.Profile</a></li>
            <li><a href="#inviteOthers">@Register.Invite</a></li>
        </ul>
        <div id="profile">
            @Html.Partial("_Profile", Model.Profile)
        </div>
        <div id="inviteOthers">
            @Html.Partial("_InviteOthers", Model.Invitation)
        </div>
       
        @Html.HiddenFor(m => m.CurrentStep)
    </div>
}