﻿@model TalentManagement.Web.Models.Objectives.KeyResultModel
@using Resources = TalentManagement.Resources.Views.Objective.KeyResult

<div>
     <span style="float: left">@Model.Name</span>
    <span class="iconsweet" id="deleteKeyResult">X</span>
    <span id="keyResultDue">
        @Html.Raw(Resources.Due)
        @Html.DisplayFor(m => m.Due)
    </span>
    <span id="clickToEdit"><a>@Resources.ClickToUpdate</a></span>
   
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Index)
    @Html.HiddenFor(m => m.Due)
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.Unit)
    @Html.HiddenFor(m => m.CurrentValue)
    @Html.HiddenFor(m => m.TargetValue)
</div>