﻿@using TalentManagement.Web.Models.MyActionItems
@using TalentManagement.Web.Infrastructure.Navigation;
@model ActionItemModel
           

<article class="row">
    <span class="span3">@(Model.RelatedToObjective ? 
                                Html.ObjectiveDetailsLink(Model.Name,Model.ObjectiveId) : 
                                new MvcHtmlString(Model.Name))
     </span>
    <span class="action-item-due span3">@Html.Raw(Model.DueString)</span>
</article>