﻿@model TalentManagement.Web.Models.Objectives.KeyResultModel
@using Resource = TalentManagement.Resources.Views.Objective.CreateStep2

<div id="new-key-result">
    <ul>
        <li>
            @Html.HiddenFor(m => m.Index)
            @Html.HiddenFor(m => m.Id)

            @Html.LabelStyledFor(m => m.Name)
            @Html.TextBoxStyledFor(m => m.Name)
        </li>
        <li>
            @Html.LabelStyledFor(m => m.Due)
            @Html.TextBoxStyledFor(m => m.Due,UiDataType.Date)
        </li>
        <li>
            @Html.LabelFor(m => m.Unit)
            @Html.DropDownForEnum(m => m.Unit)
        </li>
        <li>
            @Html.LabelFor(m => m.CurrentValue)
            @Html.TextBoxStyledFor(m => m.CurrentValue,UiDataType.Decimal)
        </li>
        <li>
            @Html.LabelFor(m => m.TargetValue)
            @Html.TextBoxStyledFor(m => m.TargetValue,UiDataType.Decimal)
        </li>
        <li>
            <button id="add-key-result" class="btn fl_right" type="button">@Model.AddButtonTitle</button>
        </li>
    </ul>
</div>