﻿@model TalentManagement.Web.Models.Feeds.FeedModel
           
<div class="row-fluid feed">
     <div class="avatar-container">
        @RazorHelpers.Avatar(Model.CreatedBy, ImageSize.Smaller)
    </div>
    
    @RenderSection("FeedContent")
    
    <div class="feed-footer span9">
        <span>@Model.CreatedAt</span>
        <a href="#" class="comment-link" >Comment</a>
        <a href="#" class="like-link">Like</a>
    </div>
    
    @Html.Partial("_CommentSection", @Model.CommentSection)
  
    @Html.Hidden("feedModel_Id", Model.Id, new { id = "feedModel_Id" })
</div>


