﻿@model AnswerModel

<article class="answer">
    <div class="title">@Model.QuestionText</div>
    <div class="answer-content">@Model.Content</div>
    @Html.HiddenFor(m => m.QuestionId)
</article>