﻿@using TalentManagement.Web.Models.Feeds
@using Resource = TalentManagement.Resources.Models.Feeds.KudosModel;
@model KudosModel
           
@{
    Layout = "~/Views/Shared/DisplayTemplates/_Feed.cshtml";
}

@section FeedContent
{
    <div class="feed-content">
        <a href="#">@Model.CreatedBy</a>
        <span>@Model.Title</span>

        @RazorHelpers.Badge(Model.BadgeId,ImageSize.Smaller)
    
        <p>@Html.Raw(Model.Content)</p>
        
        <p>
            @Html.Raw(Resource.Receivers)
            @foreach(string receiver in Model.Receivers)
            {
                @RazorHelpers.Avatar(receiver,ImageSize.Smallest)
            }
        </p>

    </div>
}
