﻿@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models
@using TalentManagement.Infrastructure
@using TalentManagement.Infrastructure.Security
@using TalentManagement.Infrastructure.Mapping
@using TalentManagement.Web.Infrastructure.Navigation;

@model MenuHelperModel

@{
    TenantIdentity identity = DependencyResolver.Current.GetService<IPrincipalProvider>()
                                                        .GetIdentity();

    UserInfoModel userInfoModel = DependencyResolver.Current.GetService<IMapper<TenantIdentity, UserInfoModel>>()
                                                            .Map(identity);
}
@if (identity != null)
{
    <nav id="primary_nav">
        <ul>
            @foreach (var node in Model.Nodes)
            {
                @Html.DisplayFor(m => node)
            }
        </ul>
    </nav>

    <nav id="secondary_nav"> 
        <!--UserInfo-->
        @Html.Partial("_UserInfo", userInfoModel)
      
        @{
           var nodesForSelection = MenuNodesManager.GetMenuNodesToShow(@Model.Nodes);
        }              
        <h2>@nodesForSelection.FirstOrDefault().GetSafe(n => n.Description)</h2>
      
        @foreach (var node in nodesForSelection)
        {
            @Html.DisplayFor(m => node.Children)
         }
    </nav>
}