﻿@using TalentManagement.Web.Infrastructure.Navigation;
@using TalentManagement.Web.Models.Feeds
@using Resource = TalentManagement.Resources.Models.Feeds.ObjectiveFeedModel;
@model ObjectiveFeedModel
           
@{
    Layout = "~/Views/Shared/DisplayTemplates/_Feed.cshtml";
}

@helper TitleProperty()
{
    @Html.Raw(Resource.Objective)
    @Html.ObjectiveDetailsLink(Model.ObjectiveName, Model.ObjectiveId)
    @Html.Raw(Resource.HasBeenUpdated)
 }

@section FeedContent
{
    <article class="feed-content span9">
         <div>
            <span class="property-key">@TalentManagement.Resources.UI.Title</span>
            <span class="property-value">@TitleProperty()</span>
        </div>
        <div>
            <span class="property-key">@Html.LabelFor(m => m.Progress)</span>
            <span class="property-value">@Html.Raw(Model.Progress)</span>
        </div>
        <div>
            <span class="property-key">@Html.LabelFor(m => m.Status)</span>
            <span class="property-value">@Html.Raw(Model.Status)</span>
        </div>
        
            @foreach(string text in Model.Texts)
            {
                <div>
                    <span class="property-key">@TalentManagement.Resources.UI.Message</span>
                    <span class="property-value">@Html.Raw(text)</span>
                </div>
            }
        
    </article>
            }
