﻿@using TalentManagement.Web.Infrastructure.Navigation;
@using Resource = TalentManagement.Resources.Models.Objectives.ObjectiveSimpleModel
@model ObjectiveSimpleModel
           
<div class="objective-simple-display row-fluid">
    <span class="span3">@RazorHelpers.ObjectiveIcon(Model.IconId)</span>
    @{
        var detailsClass = Model.ShowAddToFocus ? "span4" : "span6";
    }
    <span  class="name @detailsClass">
        @Html.ObjectiveDetailsLink(@Model.Name, Model.Id) 
    </span>
        @if(Model.ShowAddToFocus)
        {
            <span class="add-to-focus span2"><a data-objective="@Model.Id" href="#" >@Resource.AddToFocus</a></span>    
        }
    <span class="due span3">@Resource.Due<br />@Model.Due</span>
</div>




