﻿@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models
@using TalentManagement.Infrastructure.Security
@using TalentManagement.Infrastructure.Mapping

@model MvcSiteMapProvider.Web.Html.Models.SiteMapHelperModel

@{
    TenantIdentity identity = DependencyResolver.Current.GetService<IPrincipalProvider>()
                                                        .GetIdentity();

    if (identity == null)
    {
        FormsAuthentication.RedirectToLoginPage();
    }

    UserInfoModel userInfoModel = DependencyResolver.Current.GetService<IMapper<TenantIdentity, UserInfoModel>>()
                                                            .Map(identity);
}

<nav id="primary_nav">
    <ul>
        @foreach (var node in Model.Nodes) { 
           @Html.DisplayFor(m => node) 
        }
    </ul>
</nav>

<nav id="secondary_nav"> 
    <!--UserInfo-->
    @Html.Partial("_UserInfo",userInfoModel)
                    
    <h2>My Board</h2>
    @foreach (var node in Model.Nodes)
    {
        if (node.Children.Any())
        {
            @Html.DisplayFor(m => node.Children)
        }
    }
</nav>