﻿@using TalentManagement.Web.Models.Feeds
@model UpdateFeedModel
           
@{
    Layout = "~/Views/Shared/DisplayTemplates/_Feed.cshtml";
}

@section FeedContent
{
    <div class="feed-content span9">
        <a href="#">@Model.CreatedBy</a>
        <span>@Model.Title</span>
    
        <p>@Html.Raw(Model.Text)</p>
    </div>
}
