﻿@model TalentManagement.Web.Models.Objectives.CreateStep4
           
 @Html.HiddenFor(m => m.IconsJson)
<ul class="form_fields_container">
    <li>
        @Html.ValidationSummary()
    </li>      
    <li class="objective-icons">
        @foreach (var id in Model.Icons)
        {
            @RazorHelpers.ObjectiveIcon(id)
        }
        @Html.HiddenFor(m => m.CurrentIconId)
    </li>
    <li>
        @Html.LabelFor(m => m.Image)
        <div class="form_input">
            @Html.TextBoxFor(m => m.Image, new {type = "file"})
        </div>
    </li>
    <li>
        @WizardRazor.FinishFooter(Url.Action("Create"),Url.Action("Create"))
    </li>           
</ul>
