﻿@using TalentManagement.Resources.Views.Objective
@model TalentManagement.Web.Models.Objectives.ObjectiveCreateModel
           
<script type="text/javascript">
    var currentPage = new ObjectiveCreatePage();
    $(function () {
        currentPage.initialize();
    });
</script>
           
@Html.Partial("_WizardScript",Model)

@using (Html.BeginForm("Create", "Objective", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="tabs">
        <ul>
            <li><a href="#step1">@Create.Step 1</a></li>
            <li><a href="#step2">@Create.Step 2</a></li>
            <li><a href="#step3">@Create.Step 3</a></li>
            <li><a href="#step4">@Create.Step 4</a></li>
        </ul>
    
        <div id="step1">
            @Html.Partial("_CreateStep1", Model.CreateStep1)
        </div>
        <div id="step2">
            @Html.Partial("_CreateStep2", Model.CreateStep2)
        </div>
        <div id="step3">
            @Html.Partial("_CreateStep3", Model.CreateStep3)
        </div>
        <div id="step4">
            @Html.Partial("_CreateStep4", Model.CreateStep4)
        </div>
        @Html.HiddenFor(m => m.CurrentStep)
    </div>
}