﻿@using TalentManagement.Web.Models.Objectives
@using Resource = TalentManagement.Resources.Views.Objective.CreateStep2
@model CreateStep2
<ul class="form_fields_container">
    <li>
           @Html.ValidationSummary()
    </li>
    @foreach(KeyResultModel keyResult in Model.KeyResults)
    {
        <li class="key-result-container">
            @Html.DisplayFor(m => keyResult)
        </li>    
    }

    <li>
        @Html.ActionLink(Resource.AddKeyResult,"AddCurrentKeyResult",null,new { id = "create-key-result"})
    </li>

    @if (Model.CurrentKeyResult != null)
    {
        <li>
            @Html.EditorFor(m => m.CurrentKeyResult)
        </li>
    }
    <li>
        @Html.Partial("_Footer")
    </li>
              
</ul>


