﻿@using Resource = TalentManagement.Resources.Views.Objective.CreateStep3
@model TalentManagement.Web.Models.Objectives.CreateStep3

<ul class="form_fields_container">
    <li>
        @Html.ValidationSummary()
    </li>      
    <li>
        <h5>@Resource.Contributors</h5> 
        @Html.LabelStyledFor(m => m.Invitation)
        @Html.TextAreaStyledFor(m => m.Invitation)
    </li>
    <li>
        @Html.CheckBoxStyledFor(m => m.AddMe)
        @Html.CheckBoxStyledFor(m => m.MyTeam)
    </li>
    <li>
        @Html.Label(@Resource.Additional)
        <div class="form_input">
            @Html.Partial("_UserPickerControl",Model.UserPickerModel)
        </div>
    </li>
    <li>
        @Html.Partial("_Footer")
    </li>
              
</ul>