﻿@model TalentManagement.Web.Models.Objectives.CreateStep1
     
<ul class="form_fields_container">
    <li>
        @Html.ValidationSummary()
    </li>      
    <li>
        @Html.LabelFor(m => m.Visibility)
        @Html.RadioButtonForEnum(m => m.Visibility)
    </li>
    <li>
        @Html.LabelStyledFor(m => m.Due)
        @Html.TextBoxStyledFor(m => m.Due,UiDataType.Date)
           
    </li>
    <li>
        @Html.LabelStyledFor(m => m.Name)
        @Html.TextBoxStyledFor(m => m.Name)
    </li>
    <li>
        @Html.LabelStyledFor(m => m.Description)
        @Html.TextAreaStyledFor(m => m.Description)
    </li>
    <li>
        @Html.Partial("_Footer")
    </li>
</ul>


