﻿@model TalentManagement.Web.Models.Objectives.ObjectiveCreateModel

@{
    ViewBag.Title = "Create Objective";
}
@section Head
{
    @Html.Bundles()
    
    <script type="text/javascript">
        var urls = {
            createWizard: function () {
                return '@Url.Action("CreateWizard")';
            },
            create: function () {
                return '@Url.Action("Create")';
            },
            setCurrentKeyResult: function () {
                return '@Url.Action("SetCurrentKeyResult")';
            },
            addCurrentKeyResult: function () {
                return '@Url.Action("AddCurrentKeyResult")';
            },
            deleteKeyResult: function () {
                return '@Url.Action("DeleteKeyResult")';
            },
            addContributor: function () {
                return '@Url.Action("AddContributor")';
            },
            addObjectiveIcon: function () {
                return '@Url.Action("AddObjectiveIcon")';
            }
        }
        </script>
}

@using(Html.BeginForm("Create","Objective",FormMethod.Post))
{
        <div class="widget_body fl_left">
            <div id="activity_stats">
            <h4>Create objective</h4>
            </div>
            <div class="widget fl_left" id="wizard">
                    @Html.Partial("_CreateWizard",Model)
                
            </div>
        </div>
}