﻿@using TalentManagement.Web.Models.ObjectiveDetails
@using TalentManagement.Web.Models.Objectives
@model IActionItemsHolder

<a href="#" data-toggle="collapse" data-target="#@Model.Id">
    Add action item
</a>
 
<div id="@Model.Id" class="collapse action-item-edit-container">
    @Html.EditorFor(m => m.NewActionItem)
    <button type="button" class="btn btn-primary" >Add</button>
</div>
           
@if(Model.ActionItems != null)
{
    foreach (ActionItemModel actionItem in Model.ActionItems)
    {
        @Html.DisplayFor(m => actionItem)
    }    
}

