﻿@using TalentManagement.Web.Models.ObjectiveDetails
@model ObjectiveDetailsModel

  @foreach (string contributor in Model.ContributorsToShow)
    {
        @RazorHelpers.Avatar(contributor, ImageSize.Smaller)
    }
    @if (Model.ExceedContributorsCount)
    {
        <a role="button" href="#contributorsModal" data-toggle="modal">
            <span class="iconsweet">c</span>
            <span class="iconsweet-buddy">@Model.Contributors.Count()</span>
        </a>
        @RazorHelpers.ModalDialog("contributorsModal", "Contributors", @<text>
                                                                            @foreach (string contributor in Model.Contributors)
                                                                            {
                                                                                @RazorHelpers.Avatar(contributor, ImageSize.Smaller)
                                                                            }
                                                                        </text>)
    }