﻿@using TalentManagement.Web.Models.ObjectiveDetails
@using TalentManagement.Web.Models.Feeds
@using Resource = TalentManagement.Resources.Views.ObjectiveDetails.Index

@model FeedsModel

<div class="span8">
    
    <h5>@Resource.Feeds</h5>

    <div id="post-feed" >
        @Html.WatermarkFor(m => m.NewFeed)
        <button class="btn btn-primary" type="button">Post</button>
    </div>

    @foreach (FeedModel feed in Model.Feeds)
    {
        @Html.DisplayFor(m => feed)
    }
</div>        