﻿@using TalentManagement.Web.Models.ObjectiveDetails
@using Resource = TalentManagement.Resources.Views.ObjectiveDetails.Index

@model ObjectiveDetailsModel

 <div class="span4">
    <h5>@Resource.KeyResults</h5>
        <div class="accordion" id="key-results-accordion">
            @for (int itemIdx = 0; itemIdx < @Model.KeyResults.Length; itemIdx++)
            {
                string itemId = String.Concat("collapse", itemIdx);
                KeyResultModel keyResult = Model.KeyResults[itemIdx];
                    
                <div class="accordion-group">
                <div class="accordion-heading key-result">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#key-results-accordion" href="#@itemId">
                        @keyResult.Name
                    </a>
                </div>
                <div id="@itemId" class="accordion-body collapse">
                    <div class="accordion-inner">
                        @Html.Partial("_ActionItemsList", @keyResult)
                    </div>
                </div>
            </div>     
            }
    </div>
              
</div>          