﻿@using TalentManagement.Domain.Objectives;
@using TalentManagement.Web.Models.ObjectiveDetails
@using Resource = TalentManagement.Resources.Views.ObjectiveDetails.Index

@model ObjectiveDetailsModel
           
@helper  VisibilityGroup(ObjectiveVisibility visibility){
    if (visibility == ObjectiveVisibility.Public)
    {
         <div class="btn-group">
                            <button class="btn btn-primary disabled">Public</button>
                            <button class="btn disabled">Private</button>                      
         </div>
    }
    else
    {
       <div class="btn-group">
                            <button class="btn disabled">Public</button>
                            <button class="btn btn-primary disabled">Private</button>                      
         </div>
    }
}

<div id="overview" >
            @Html.HiddenFor(m => m.Id)
            <div class="span5">
                @RazorHelpers.ObjectiveIcon(Model.Icon)
                <span class="objective-name">@Html.Raw(Model.Name)</span>
                <div class="objective-description">@Html.Raw(Model.Description)</div>
                
                @Html.Partial("_Progress",Model)
            </div>
            <div class="span6">
             <dl class="dl-horizontal">
                 <dt>@Html.LabelFor(m => m.Contributors)</dt>
                 <dd>
                   @Html.Partial("_Contributors",Model)
                 </dd>

                 <dt>@Html.LabelFor(m => m.Visibility)</dt>
                 <dd>@VisibilityGroup(Model.Visibility)</dd>

                <dt>@Html.LabelFor(m => m.Due)</dt>
                <dd>@Model.Due</dd>
             </dl>
                
            </div>
        </div>