﻿@using TalentManagement.Web.Models.ObjectiveDetails
@using Resource = TalentManagement.Resources.Views.ObjectiveDetails.Index

@model ObjectiveDetailsModel

<article class="progress-container">
    <div>
        @Html.LabelFor(m => m.Progress)&nbsp;<span id="progress-value">@Model.Progress</span>%        
        <div id="progress">
        </div>
    </div>
    <div id="progress-updated" class="msgbar msg_Success hide_onC">
        <span class="iconsweet">=</span><p><span id="progress-updated-message"></span></p>
    </div>
                
    <div id="objective-completed" class="msgbar msg_Success hide_onC">
        <span class="iconsweet">=</span><p><span id="objective-completed-message"></span></p>
    </div>
</article>
                
<button id="objective-complete-btn" class="btn btn-primary" type="button">@Resource.CompleteObjective</button>