﻿@using TalentManagement.Web.Models.ObjectiveDetails
@using TalentManagement.Web.Infrastructure.Navigation
@using Resource = TalentManagement.Resources.Views.ObjectiveDetails.Index

@model ObjectiveDetailsModel
@{
    ViewBag.Title = @Resource.Title;
}

@section Head
{
    @Html.Bundles()
    @{
        MenuNodesManager.ShowMenuNode("Objectives");
    }
    
     <script type="text/javascript">
         var urls = {
             addActionItem: function () {
                 return '@Url.Action("AddActionItem","ObjectiveDetails")';
             },
             deleteActionItem: function () {
                 return '@Url.Action("DeleteActionItem", "ObjectiveDetails")';
             },
             updateProgress: function () {
                 return '@Url.Action("UpdateProgress","ObjectiveDetails")';
             },
             completeObjective: function () {
                 return '@Url.Action("CompleteObjective","ObjectiveDetails")';
             },
             postFeed: function () {
                 return '@Url.Action("PostFeed","ObjectiveDetails")';
             }
         }
        </script>
}

<div class="widget_body fl_left">
    <div id="activity_stats">
        <h4>@Resource.ObjectiveDetails</h4>
    </div>
    <div class="row-fluid">
       @Html.Partial("_Overview",Model)
        <div id="low-panel">
            @Html.Partial("_KeyResults",Model)    
            <div id="feeds">
                @Html.Partial("_Feeds",Model.FeedsModel)    
            </div>                  
        </div>
    </div>
</div>
             
