﻿@using Resource = TalentManagement.Resources.Models.Companies.BadgesTab
@model TalentManagement.Web.Models.Companies.BadgesTab
           
<article class="row">
    <section class="offset8">
        
        <a href="#addBadge" role="button" class="btn btn-primary" data-toggle="modal">@Html.Raw(@Resource.AddBadge)</a>
        
        @RazorHelpers.ModalDialog("addBadge",@Resource.AddBadge,
                                  @<text>
                                       @using(@Html.BeginForm("UpsertBadge","Company",FormMethod.Post,new{ id="formBadge"}))
                                       {
                                           @Html.EditorFor(m => m.NewBadge)
                                       }
                                   </text>
                                  ,@<text>
                                     <a data-dismiss="modal" aria-hidden="true">@TalentManagement.Resources.UI.Close</a>
                                        <a role="button" name="upsert-badge" class="btn btn-primary" href="@Url.Action("UpsertBadge")">
                                            @TalentManagement.Resources.UI.Create
                                        </a>
                                    </text>)

    </section>
    <section class="span10">
        <ul class="thumbnails">
            @foreach(var badge in Model.Badges)
            {
                @Html.DisplayFor(m => badge)
            }
        </ul>
    </section>
</article>
