﻿@using Resource = TalentManagement.Resources.Models.Companies.GeneralTab;
@model TalentManagement.Web.Models.Companies.GeneralTab

@using(@Html.BeginForm("Index","Company",FormMethod.Post,new {enctype = "multipart/form-data",autocomplete = "off"}))
{
    <article class="row">
        <section class="span5">
                @Html.ValidationSummary()
            </section>
        <div class="span10">
             
            <section>
                @Html.LabelFor(m => m.CompanyName)
                @Html.WatermarkStyledFor(m => m.CompanyName)
                @Html.HiddenFor(m => m.CompanyId)
            </section>
            <section>
                @Html.LabelFor(m => m.CompanyLogo)
                @RazorHelpers.CompanyLogo(Model.CompanyId,ImageSize.Medium)
                @Html.TextBoxFor(m => m.CompanyLogo,new {type="file"})
                @Html.HiddenFor(m => m.LogoId)
            </section>
            <section>
                @Html.LabelFor(m => m.SelectedTimezone)
                @Html.DropDownListFor(m => m.SelectedTimezone,Model.Timezones,(object)null)
            </section>
            <footer class="offset5">
            <button class="btn btn-primary" type="submit">@Resource.Save</button>   
        </footer>
        </div>
        
    </article>
}

