﻿@using Resource = TalentManagement.Resources.Models.Companies.IndexModel
@model TalentManagement.Web.Models.Companies.ObjectivesFocusTab
           
<article class="row">
    <article class="span9 objective-icons-container">
        <h5>@Resource.CompanyFocus</h5>
        @if (Model.ObjectivesInFocus.Any())
        {
            <ul class="thumbnails">
            @foreach (var icon in Model.ObjectivesInFocus)
            {
                <li class="objective-icon">
                    
                    <a href='@Url.Action("Index","ObjectiveDetails",new { id = @icon.ObjectiveId})'>
                        @RazorHelpers.ObjectiveIcon(icon.ObjectiveIconId,ImageSize.Medium)                
                        <p class="objective-icon-action">
                            <a data-objective="@icon.ObjectiveId" href='@Url.Action("ToggleObjectiveFocus")' >@TalentManagement.Resources.UI.Remove</a>
                        </p>
                    </a>
                </li>
            }
            </ul>
        }
        else
        {
            @Html.Raw(TalentManagement.Resources.UI.NoItems)
        }
            
    </article>
    <article class="span9">
        @{ Html.RenderAction("Filter", "MyCompanyObjectives", new { filterByYear = Model.FilterByYear, 
                                                                             groupBy = Model.GroupBy, 
                                                                             showAddToFocus = true }); 
        }
    </article>
</article>
