﻿@using TalentManagement.Web.Models.Companies
@using Resource = TalentManagement.Resources.Models.Companies.IndexModel;

@model IndexModel
@{
    Layout = "~/Views/Shared/_SimplifiedLayout.cshtml";
    ViewBag.Title = @Html.LocalizedTextFor(m => m.Title);
}

@section Head
{
    @Html.Bundles()
    
     <script type="text/javascript">
         var urls = {
             addBadge: function () {
                 return '@Url.Action("UpsertBadge")';
             },
             badgesTab: function () {
                 return '@Url.RouteUrl(new { controller = "Company", action = "Index", id = "badges" })';
             },
             toggleObjectiveFocus: function () {
                 return '@Url.Action("ToggleObjectiveFocus")';
             }
         }
        </script>
}

@Html.HiddenFor(m => m.ActiveButton)

<ul class="nav nav-tabs fl_left">
  <li class="active"><a href="#general" data-toggle="tab">@Resource.GeneralSettings</a></li>
    <li><a href="#badges" data-toggle="tab">@Resource.Badges</a></li>
    <li><a href="#objectives-focus" data-toggle="tab">@Resource.ObjectivesFocus</a></li>
</ul>
 
<div class="tab-content">
    <div class="tab-pane active" id="general">
        @Html.Partial("_GeneralTab",Model.GeneralTab)
    </div>
    <div class="tab-pane" id="badges">
        @Html.Partial("_BadgesTab",Model.BadgesTab)
    </div>
      <div class="tab-pane" id="objectives-focus">
        @Html.Partial("_ObjectivesFocus",Model.ObjectivesFocusTab)
    </div>
</div>

@Html.ActionLink(Resource.BackToDashboard, "Index", "Feed")
