﻿@using System.Web.Mvc
@using MongoDB.Bson
@using TalentManagement.Domain
@using TalentManagement.Web.Infrastructure.UI
@using TalentManagement.Infrastructure.Security;
@using Resource = TalentManagement.Resources.UI;

@functions
{
    private static readonly UrlHelper Url = (CurrentPage as WebViewPage).Url;

    private static new HtmlHelper<object> Html
    {
        get { return ((WebViewPage)CurrentPage).Html; }
    }
    
    private static string HelperToString( Func<object, HelperResult> helper)
    {
        return helper.Invoke(null).ToHtmlString();
    }

}

@helper Css(string file)
{
    <link href="@Url.Content(file)" rel="stylesheet" type="text/css" />
}

@helper Script(string file)
{
    <script type="text/javascript" src="@Url.Content(file)" ></script>
    
}

@helper Avatar(string email)
{
    @Avatar(email, ImageSize.Small)
}

@helper Avatar(string email, ImageSize size)
{
    <a href="#" class="thumbnail">
        <img src='@Url.Action("GetSmallAvatar", "Image",new { id = email,size = (int)size})' alt="Avatar" class="@size.GetCss()"/>
    </a>
}

@helper AvatarForUser()
{
   @AvatarForUser(ImageSize.Small)
}
@helper AvatarForUser(ImageSize size)
{
    if (@HttpContext.Current.User != null)
    {
         <img src='@Url.Action("GetSmallAvatar", "Image", new { id = @HttpContext.Current.User.Identity.Name,size = (int)size })' alt="Avatar" class="@size.GetCss()"/>
    }
}

@helper CompanyLogoForUser(ImageSize size)
    {
    if (@HttpContext.Current.User != null)
    {
        TenantIdentity identity = HttpContext.Current.User.Identity as TenantIdentity;
        if (identity != null)
        {
            <img src='@Url.Action("GetCompanyLogoForTenant", "Image", new { id = identity.Tenant,size = (int)size})' alt="Company logo" class="@size.GetCss()"/>
        }
    }
}


@helper ObjectiveIcon(ObjectId id)
    {
     <img src='@Url.Action("GetObjectiveIcon", "Image", new { id, size = (int)ImageSize.Smaller })' alt="Objective icon" class="@ImageSize.Smaller.GetCss() img-rounded"/>
}

@helper ObjectiveIcon(ObjectId id, ImageSize imageSize)
    {
    <img src='@Url.Action("GetObjectiveIcon", "Image", new { id, size = (int)imageSize })' alt="Objective icon"  class="@imageSize.GetCss()"/>
}

@helper CompanyLogo(ObjectId companyId, ImageSize imageSize)
    {
    <img src='@Url.Action("GetCompanyLogo", "Image", new { id = companyId,size = (int)imageSize })' alt="Company logo" class="@imageSize.GetCss()"/>
}


@helper Badge(ObjectId badgeId, ImageSize imageSize)
    {
<img src='@Url.Action("GetBadge", "Image", new { badgeId,size = (int)imageSize })' class="@imageSize.GetCss() img-rounded"/>
}

@helper Badge(ObjectId badgeId, ImageSize imageSize,string css)
    {
<img src='@Url.Action("GetBadge", "Image", new { badgeId,size = (int)imageSize })' class="@imageSize.GetCss() img-rounded @css"/>
}


@helper UserProfileLink(string userId,string userNames)
{
    <a class="user-profile-link" href="#">@userNames</a>
}


@helper ModalDialog(string id, string title, Func<object, HelperResult> content)
    {
    <div id="@id" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contributorsLabel" aria-hidden="true">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="contributorsLabel">@title</h3>
        </div>
        <div class="modal-body">@content(null)</div>
        <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">@Resource.Close</button>
        </div>
    </div>
}

@helper ModalDialog(string id, string title, Func<object, HelperResult> content, Func<object, HelperResult> footer)
    {
    <div id="@id" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contributorsLabel" aria-hidden="true">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="contributorsLabel">@title</h3>
        </div>
        <div class="modal-body">@content(null)</div>
        <div class="modal-footer">
          @footer(null)
        </div>
    </div>
}


@helper Accordion(string htmlId, MvcHtmlString[] titles, MvcHtmlString[] contents)
    {
    <div class="accordion" id="@htmlId">
    @for (int itemIdx = 0; itemIdx < contents.Length; itemIdx++)
    {
        string itemId = String.Format("collapse_{0}_{1}",htmlId, itemIdx);
        <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#@htmlId" href="#@itemId">
                @titles[itemIdx]
            </a>
        </div>
        <div id="@itemId" class="accordion-body collapse">
            <div class="accordion-inner">
                @contents[itemIdx]
            </div>
        </div>
    </div>     
    }
    </div>
}



