﻿@using System.Web.Mvc
@using System.Web.Mvc.Html
@using MongoDB.Bson
@using TalentManagement.Domain
@using TalentManagement.Web.Infrastructure.UI
@using TalentManagement.Infrastructure.Security;
@using Resource = TalentManagement.Resources.UI;

@functions
{
    private static readonly UrlHelper Url = (CurrentPage as WebViewPage).Url;

    private static new HtmlHelper<object> Html
    {
        get { return ((WebViewPage)CurrentPage).Html; }
    }

    private static string HelperToString(Func<object, HelperResult> helper)
    {
        return helper.Invoke(null).ToHtmlString();
    }

}

@helper StepsFooter(string cancelUrl,string nextStepUrl)
{
    <footer class="fl_right" id="wizard_actions">
        <a href="@cancelUrl">@Resource.Cancel</a>
        @PreviousStep()
        <button class="btn btn-primary" type="button" name="next-step" data-href="@nextStepUrl" >@Resource.NextStep</button>
    </footer>
}

@helper PreviousStep()
{
    <button class="btn btn-primary" type="button" name="previous-step" >@Resource.PreviousStep</button>
}

@helper FinishFooter(string cancelUrl,string finishUrl)
{
     <footer class="fl_right" id="wizard_actions">
         <a href="@cancelUrl">@Resource.Cancel</a>
         @PreviousStep()
         <button class="btn btn-primary" type="button" name="finish" data-href="@finishUrl" >@Resource.Finish</button>
     </footer>
}

