﻿@model TalentManagement.Web.Models.MyFeedbacks.DetailsModel

<div class="row-fluid">
    <span class="fl_left">
        @RazorHelpers.AvatarForUser()
    </span>
    <div class="span10">
        <span class="title">@Html.LocalizedTextFor(m => m.Feedback,Model.ParticipantsCount,Model.Feedback)</span>    
        <br/>
        <span class="creation-date fl_left">@Html.DisplayTextFor(m => m.FeedbackDate)</span>
        <br/>
        <span class="title">@Html.LocalizedTextFor(m => m.ResponseSummary,Model.ResponsesCount,Model.ParticipantsCount)</span>
                
        @foreach(var response in Model.Responses)
        {
            @Html.DisplayFor(m => response)
        }
    </div>
</div>
 