﻿@using Resource = TalentManagement.Resources.Views.Shared.Layout
@model TalentManagement.Web.Models.MyFeedbacks.DetailsResponseModel
           
<article class="feedback row-fluid details">
    <span  class="span11">
        @Html.Raw(Model.Response)
        <br/>
        <span class="creation-date">@Html.Raw(Model.CreatedAt)</span>
        <span><a href="#" class="comment-link">@Html.Raw(@Resource.Comment)</a></span>
    </span>
    
    @Html.Partial("_CommentSection",Model.CommentSectionModel)
    @Html.HiddenFor(m => m.ResponseId)
</article>


