﻿@using Resource = TalentManagement.Resources.Models.MyFeedbacks.FeedbackYouRequested
@model TalentManagement.Web.Models.MyFeedbacks.FeedbackYouRequested
           
<div class="feedback row-fluid">
    <span class="span1">@RazorHelpers.AvatarForUser(ImageSize.Smaller)</span>
    <span  class="span7">
        <span class="title">@Html.Raw(@Model.Title)</span>
        <br/>
        <span class="creation-date">@Model.CreationDate</span>
        <span class="details-link">@Html.ActionLink(@Model.ResponsesText, "Details", "MyFeedbacks", new { id = @Model.FeedbackId },null)</span>
    </span>
</div>

