﻿@using Resource = TalentManagement.Resources.Models.MyFeedbacks.FeedbackAttentionRequired
@model TalentManagement.Web.Models.MyFeedbacks.FeedbackAttentionRequired
           
<div class="feedback row-fluid attention-required">
    <span class="span1">@RazorHelpers.Avatar(Model.CreatedId,ImageSize.Smaller)</span>
    <span  class="span7">
        <span class="title">@Html.Raw(@Model.Title)</span>
        <br/>
        <span class="creation-date">@Model.CreationDate</span>
        <span><a href="#" > @Resource.ProvideFeedback</a></span>
    </span>

    @RazorHelpers.ModalDialog("provide-feedback-modal-" + @Model.FeedbackId,@Resource.ProvideFeedback,
                              @<text>@Html.TextAreaStyledFor(m => m.Response, new { rows = "5" }, true)
                                     @Html.HiddenFor(m => m.FeedbackId)   
                              </text>,
                              @<text>
                                  <a data-dismiss="modal" aria-hidden="true">@TalentManagement.Resources.UI.Close</a>
                                  <a role="button" name="provide-feedback-send" class="btn btn-primary" href="#">@TalentManagement.Resources.UI.Send</a>
                               </text>)
</div>

