﻿@using Resource = TalentManagement.Resources.Views.Shared.Layout
@model TalentManagement.Web.Models.MyFeedbacks.FeedbackTheyRequested
           
<div class="feedback row-fluid">
    <span class="span1">@RazorHelpers.Avatar(Model.QuestionAuthorId,ImageSize.Smaller)</span>
    <span  class="span11">
        <span class="title">@Html.Raw(Model.Question)</span>
        <br/>
        <span class="creation-date">@Html.Raw(Model.QuestionDate)</span>
    </span>
    <div class="response span11 row-fluid">
        <span class="span1">@RazorHelpers.AvatarForUser(ImageSize.Smaller)</span>
        @if (Model.HasResponse)
        {
            <span class="span10">
                <span>@Html.Raw(Model.Response)</span>
                <br/>
                <span class="creation-date">@Html.Raw(Model.ResponseDate)</span>
                <span><a href="#" class="comment-link">@Html.Raw(@Resource.Comment)</a></span>
            </span>

            @Html.Partial("_CommentSection", Model.CommentSectionModel)
        }
    </div>
    @Html.HiddenFor(m => m.FeedbackId)
</div>

